{% extends "layout.html" %}
{% load inventory_tags %}
{% block css %}
    <style>
     #toolbar >button{
          margin: 0 2px;
      }
     #cover img{
        width: 75px;
        height: 50px;
    }
      .value{
        margin:0px;
        background-color: #F8F8F8;
        border-color: #dddddd;
    }
    .label_form{
        padding: 22px 10px 7px 0px;
        border:1px #dddddd;
    }
    .p_form{
        background-color:white ;padding: 15px 10px 15px 10px
    }
    #attach_container>label{
        font-weight: normal;
    }
    #barCode{
		width: 30%;height: 35px;
        border: 1px solid #ddd;
        border-radius:5px;
		display: block;
		margin : 0 auto;
		padding: 0px 5px;
		outline: none;
	}

    </style>
{%endblock %}
{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>库存管理</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">选项1</a>
                        </li>
                        <li><a href="#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="table-responsive">
                            <div class="bootstrap-table">
                               <div class="fixed-table-toolbar">
                                   <div class="bs-bars pull-left" data-mobile-responsive="true" style="width:100%" >
                                        <div class="btn-group " id="toolbar" role="group">
                                            <button onclick="Entry()" class ="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;商品入库</button>
                                            <button onclick="Purchase()" class ="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;采购录入</button>
                                        </div>
                                        <input id="barCode" class="-align-center" value=""style="margin-bottom:10px;" type="text" placeholder="扫码入库"  name="barCode">
                                       </div>
                               </div>
                               <div class="fixed-table-container">
                                <table id="task_sort"  data-mobile-responsive="true"  class="table  table-bordered text-nowrap table-hover table-striped" data-mobile-responsive="true">
                                    <thead>
                                         <tr >
                                             <th><input type="checkbox" onclick="SelectAll(this)"></th>
                                             <th>商品分类</th>
                                             <th>商品名称</th>
                                             <th>商品图片</th>
                                             <th>商品条码</th>
                                             <th>商品单位</th>
                                             <th>商品规格</th>
                                             <th>产地</th>
                                             <th>库存数量</th>
{#                                             <th>产期</th>#}
                                             <th>操作</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                     {% for obj in query_sets %}
                                      <tr>
                                          <td><input type="checkbox"><input type="text" class="hidden" name="id" value="{{ obj.nid }}"></td>
                                          <td>{% change_to_goods_category obj.category_id%} </td>
                                          <td> <a  href="{%url "invent_detail" %}?id={{ obj.nid }}" >{{ obj.name }}</a></td>
                                          {% fetch_goods_photo obj.nid  as good_photo%}
                                          <td id="cover">
                                              {% if good_photo %}
                                                   <img src="/{{ good_photo }}" alt="">
                                              {% else %}
                                              {% endif %}
                                          </td>
                                         <td>{% if obj.code %}{{ obj.code }}{% else %}空{% endif %}</td>
                                          <td>{% if  obj.unit  %}{{ obj.unit }}{% else %}空{% endif %}</td>
                                           <td>{% if  obj.standard  %}{{ obj.standard }}{% else %}空{% endif %}</td>
                                          {% fetch_city_nid  obj.country_id  as city_id %}
                                          {% fetch_province_nid  city_id  as province_id %}
                                          {% fetch_nation_nid  province_id  as nation_id %}
                                          <td>
                                               {% change_to_nation nation_id %}/
                                               {% change_to_province province_id  %}/
                                              {% change_to_city city_id %}/
                                              {% change_to_country obj.country_id %}
                                          </td>
                                         <td>{% fetch_goods_total_amount obj.nid %}</td>
{#                                          <td>{{ obj.start_month }}月-{{ obj.end_month }}月</td>#}
                                            <td>
                                                 <a  href="{%url "invent_detail" %}?id={{ obj.nid }}" class="btn btn-primary" >详细</a>
                                          </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                               </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>

    <!-- Modal -->
    <!-- delete-->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">警告！</h4>
      </div>
      <div class="modal-body" style="text-align: center;font-size: 20px;">
        您确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="ensure" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
    </div>


{% endblock %}
{% block js%}
    <script type="text/javascript" src="/static/js/custom/jquery.barcode.js"></script>
    <script>

           /*
    自执行函数
    */
    $(function () {
        $("#task_sort").bootstrapTable({
            toolbar: "#toolbar",
            striped: true,
            sidePagination: "client",
            pagination: true,
            sortable: true,
            sortOrder: "desc",
            pageNumber:1,
            pageSize: 15,
            pageList: [10, 25],
            search: true,
            strictSearch: false,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "ID",
            showToggle:true,
            cardView: false,
            detailView: false,
            cache: false
        });
    });
      function  SelectAll(ths) {
        //判断是否选中
        ischecked=$(ths).is(":checked");
        //如果选中则全选中,否则取消选中
        $(ths).parent().parent().parent().parent().siblings().find("input:checkbox").prop("checked",ischecked);
    }
//批量删除
        function MultiDelete() {
        var ids="";
        $("tbody input:checkbox:checked").each(function () {
            console.log($(this).next().val())
            id = $(this).next().val();
            if (id){
                id+="|";
                ids+=id;
            }
        });
        //是否选中
        if (ids==""){
             layer.alert('至少选择一个对象', {icon: 6 ,
              time: 2000, //2s后自动关闭
                btn: [ '知道了']}
                );
             return false
        }
        $("#delete_modal").modal("show");//显示模态框
        $("#ensure").click(function () {
            $("#delete_modal").hide();
              $.ajax({
            url:"{% url "goods_delete" %}",
            data:{"ids":ids},
            type:"get",
            dataType:"JSON",
            success:function (arg) {
                if (arg.status){
                    window.location.reload()
                }else{
                   layer.alert('删除失败', {icon: 2 ,
                                  time: 2000, //2s后自动关闭
                                    btn: [ '知道了']}
                                    );

                }
            }
        })
        });
    }
        //展示联系人详细内容
function ShowGoodsDetail(cons) {

      $('#goods_detail').modal('show');
      var id =cons
      $.ajax({
          url:"{% url "goods_detail" %}",
          type:"get",
          data:{'id':id},
          dataType:"json",
          success:function (arg) {
              if (arg.status){
                  console.log(arg)
                  var data=arg.data;
                  console.log(data.name)
                  $("#category_id").text(data.category_id);
                  $("#name").text(data.name);
                  $("#description").text(data.description);
                  $("#unit_id").text(data.unit_id);
                  $("#standard").text(data.standard);
                  $("#code_bar").text(data.code);
                  $("#product_cycle").text(data.start_month+"月"+"-"+data.end_month+"月")
                  $("#region").text(data.region);
                  if (data.photo != ""){
                       $("#goods_photo").attr("src","/"+data.photo )
                       $("#photo_block").removeClass("hidden")
                  }
                   if (data.code_photo != ""){
                       $("#goods_code").attr("src","/"+data.code_photo )
                       $("#code_block").removeClass("hidden")
                  }
                  //初始化附件
                  console.log(data.nid)
                  if (data.attach!=""){
                      var attachs = JSON.parse(data.attach);
                      for (var i=0;i<attachs.length;i++){
                      var a_ele=' <label  >附件{0}:</label> <a class="download_file" href="attachment_download.html?url={1}&name={2}">{3}</a><br>'.format(i+1,attachs[i].fields.attachment,attachs[i].fields.name,attachs[i].fields.name)
                      var l_ele=' <label  >附件描述:</label> <span >{0}</span>'.format(attachs[i].fields.description)
                      var eles=a_ele+l_ele+"<br>"
                      $("#attach_container").append(eles)
                          $("#attach_block").removeClass("hidden")
                      }
                  }
                  $("#goods_edit").attr("href","goods_edit?id={0}".format(data.nid))
              }
          }
      });
    }

  //商品入库
    function Entry() {
       //是否有选中商品
     var is_checked=$("tbody input:checkbox:checked").length
        if (is_checked==1){
            var sid=$("tbody input:checkbox:checked").eq(0).next().val()
            window.location.href="{% url 'invent_edit' %}?gid={0}".format(sid)
        } else if(is_checked > 1){
           layer.alert('只能选择一个商品', {icon: 6 ,
              time: 1500, //1.5s后自动关闭
                btn: [ '知道了']}
                );
        }
        else{
           layer.alert('请选择商品', {icon: 6 ,
              time: 1500, //1.5s后自动关闭
                btn: [ '知道了']}
                );
        }
    }

  //采购录入
    function Purchase() {
       //是否有选中商品
     var is_checked=$("tbody input:checkbox:checked").length
        if (is_checked==1){
            var sid=$("tbody input:checkbox:checked").eq(0).next().val()
            window.location.href="{% url 'purchase_edit' %}?gid={0}".format(sid)
        } else if(is_checked > 1){
           layer.alert('只能选择一个商品', {icon: 6 ,
              time: 1500, //1.5s后自动关闭
                btn: [ '知道了']}
                );
        }
        else{
           layer.alert('请选择商品', {icon: 6 ,
              time: 1500, //1.5s后自动关闭
                btn: [ '知道了']}
                );
        }
    }

    $("#barCode").startListen({
				barcodeLen : 10,
				letter : true,
				number : true,
				check  : false,
				show : function(code){
					layer.msg(code);
				}
			});

    </script>
{% endblock %}