{% extends "layout.html" %}
{% load public_tags %}
{% load inventory_tags %}

{% block css %}

    <link rel="stylesheet" href="/static/plugins/amap/css/main1119.css"/>
    <style>
     .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
    .form-group{
         margin-top:30px;
    }
    </style>

{%endblock %}
{% block content %}
      <div class="wrapper container wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>仓库编辑</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项1</a>
                                </li>
                                <li><a href="#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                  <div class="ibox-content ">
                        <div class="row form-horizontal">
                        <form class="row form-horizontal"   method="post" id="warehouse_fm" enctype="multipart/form-data" >
                         {% csrf_token %}
                          {% fetch_country_nid  obj.town_id  as country_id %}
                            {% fetch_city_nid  country_id  as city_id %}
                            {% fetch_province_nid  city_id  as province_id %}
                             <input type="hidden" name="id" id="nid"  >
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="name" class="col-xs-4  col-md-2  col-lg-1 control-label">仓库名称:</label>
                                      <div class="col-xs-7 col-md-8  col-lg-8">
                                          <input name="name"  class="form-control"  id="name" placeholder="仓库名称">
                                        </input>
                                      </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                               <div class="form-group">
                                   <label class=" col-xs-4 col-md-2  col-lg-1 control-label">省份</label>
                                    <div class="col-xs-7 col-md-4  col-lg-2">
                                        <select  name="province "   class="form-control chosen-select" id="province" onchange="SelectProvince(this)" >
                                              <option value=0>请选择省份</option>
                                            {% build_province_ele  province_id=province_id %}
                                        </select>
                                    </div>
                                   <label class=" col-xs-4 col-md-2  col-lg-1 control-label">城市</label>
                                    <div class="col-xs-7 col-md-4  col-lg-2">
                                        <select  name="city" class="form-control chosen-select" id="city"  onchange="SelectCity(this)" >
                                         {%  if  id %}
                                             {% build_city_ele province_id %}
                                             {% else %}
                                            {% build_city_ele %}
                                            {% endif %}
                                        </select>
                                    </div>
                                <label class="col-xs-4 col-md-2  col-lg-1  control-label">县区</label>
                                <div class="col-xs-7 col-md-4  col-lg-2">
                                    <select  name="country_id" class="form-control chosen-select" id="country" onchange="SelectCountry(this)" >
                                     {%  if  id %}
                                         {% build_country_ele city_id  %}
                                         {% else %}
                                         <option value=0 >请选择县(区)</option>
                                           {% build_country_ele   %}
                                        {% endif %}
                                    </select>
                                </div>

                                <label class="col-xs-4 col-md-2  col-lg-1 control-label">街道</label>
                                <div class="col-xs-7 col-md-4  col-lg-2">
                                    <select  name="town_id" class="form-control chosen-select" id="town_id"  >
                                     {%  if  id %}
                                         {% build_town_ele country_id  %}
                                        {% endif %}
                                    </select>
                                </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label for="name" class="col-xs-4 col-md-2  col-lg-1  control-label">详细地址:</label>
                                      <div class="col-xs-7 col-md-8  col-lg-8">
                                          <input name="address"  class="form-control"  id="address" placeholder="详细地址">
                                        </input>
                                      </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                               <div class="form-group">
                                    <label for="name" class="col-xs-4 col-md-2  col-lg-1 control-label">定位</label>
                                    <div class="col-xs-7 col-md-8  col-lg-8">
                                        <div id="mark_container" style="width:100%;height:300px">
                                    </div>
                                        <div id="myPageTop" style="position:absolute;">
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>输入搜索地址：</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input name="tip"  id="tipinput"/>
                                                    <input class="hidden" type="text"  id="lng" name="lng">
                                                     <input class="hidden" type="text" id="lat"  name="lat">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                             </div>
                               </div>
                             <div class="hr-line-dashed"></div>
                            </div>
                        <div>
                    </div>
                        </form>
                        </div>
                         <div class="row" id="content_footer" >
                             <div class="form-actions well well-sm clearfix">
                                 <button type="submit" onclick="Submit(1)" class="default btn btn-primary hide-xs" name="_save" data-loading-text="保存中.."><i class="fa fa-save"></i> 保存并返回</button>
                                 <button type="submit"  onclick="Submit(2)" style="background-color: #0ba7a9" class="btn btn-info" data-loading-text="保存并增加另一个.." name="_addanother"><i class="fa fa-save"></i> 保存并增加另一个</button>
                                 <button type="submit"  onclick="Submit(3)" style="background-color: #0ba7a9" class="btn btn-info" data-loading-text="保存并继续编辑.." name="_continue"><i class="fa fa-save"></i> 保存并继续编辑</button>
                                 <a href="{% url "warehouse_list" %}"  class="default btn btn-info hide-xs" ><i class="fa fa-reply"></i> 返回</a>

                                 <!--error_msg-->
                                 <div class="alert alert-danger hide " onclick="Hidden(this)" style="display:inline-block ;padding: 7px 12px;margin: 0px">
                                    <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    </span>
                                    <span id="error_msg" style="font-size: 14px;"></span>
                                </div>
                             </div>
                            </div>
                         </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js%}
      <script src="/static/js/jquery.cookie.js"></script>
{#    <script src="/static/js/"></script>#}
    <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/js/custom/form-validate.js"></script>
    <script src="/static/js/plugins/iCheck/icheck.min.js"></script>

     //mark
    <script src="/static/plugins/amap/js/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.3&key=c4d8f8eff1d622c4b83023b746d10b23&plugin=AMap.PlaceSearch,AMap.AdvancedInfoWindow"></script>
    <script src="/static/plugins/amap/js/main.js"></script>
{#    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>#}
     <script>
        //字符串格式化
String.prototype.format=function()
{
  if(arguments.length==0) return this;
  for(var s=this, i=0; i<arguments.length; i++)
    s=s.replace(new RegExp("\\{"+i+"\\}","g"), arguments[i]);
  return s;
};

 //mark
 var lng,lat,mark,name
function initMap(lng=113.324954,lat=22.98682,mark=false,name=''){
     //地图加载
    var map = new AMap.Map('mark_container', {
    resizeEnable: true,
    zoom:11,
    center: [lng,lat],//默认的地图中心经纬度
      zoomToAccuracy: true
    });
    //输入提示和POI搜索插件用到的JS
   AMap.plugin(['AMap.Autocomplete','AMap.PlaceSearch',"AMap.Marker"],function(){
    var autoOptions = {
        city: "广州", //城市，默认全国
        input: "tipinput"//使用联想输入的input的id（也就是上边那个唯一的id）
    };
    autocomplete= new AMap.Autocomplete(autoOptions);
    var placeSearch = new AMap.PlaceSearch({
        city:'广州',
        map:map
    });
    AMap.event.addListener(autocomplete, "select", function(e){
        //TODO 针对选中的poi实现自己的功能
        placeSearch.setCity(e.poi.adcode);
        placeSearch.search(e.poi.name);
        var lng=e.poi.location.lng
        var lat=e.poi.location.lat;
        $("#lng").val(lng);
        $("#lat").val(lat);
        $("#tipinput").val( "{{ obj.address }}")

    });
    if(mark){
         //点标记
    var marker = new AMap.Marker({
        icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_r.png",
        position: new AMap.LngLat(lng, lat),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
        title:name,
        visible :true,
});
    map.add(marker);
    }
    //拖拽
})
}
       //自执行函数
  $(function () {

      var id={{ id }}
       lng={% if obj.lng %}{{ obj.lng }}{% else %}0{% endif %};
       lat ={% if obj.lat %}{{ obj.lat }}{% else %}0{% endif %};
       name="{{ obj.name }}"
      if(id!=0){
          DataInit()//初始化化数据
           if (lng!=0){
              initMap(lng,lat,true,name)
           }else{
               initMap()
           }
      }else{
          initMap()
      }
  })

  function DataInit() {
            {#console.log(typeof({{ obj }}))#}
            $("#nid").val("{{ obj.nid }}")
            $("#town_id").val("{{ obj.town_id }}" )
            $("#name").val("{{ obj.name }}");
            $("#address").val( "{{ obj.address }}");
            $("#lng").val({% if obj.lng %}{{ obj.lng }}0{% endif %})
            $("#lat").val({% if obj.lat %}{{ obj.lat }}0{% endif %})
}

    //添加or编辑
      function Submit(cons){
         var $msg = $('#error_msg');
         $msg.parent().addClass('hide');
         var form =$("#warehouse_fm");
         console.log(form)
        //验证表单
         if ( form.valid()){
             $.ajax({
                url: '{% url "warehouse_edit" %}',
                type: 'POST',
                data: form.serialize(),
                dataType: 'JSON',
                success: function (arg) {
                    console.log(arg.status)
                   if (arg.status) {
                        if (cons==1){
                             window.location.href='{% url "warehouse_list" %}';
                        }else if(cons==2){
                             window.location.href='{% url "warehouse_edit" %}';
                        }else{
                              window.location.href='{% url "warehouse_edit" %}?id={0}'.format(arg.data);
                        }
                    } else {
                        $msg.parent().removeClass('hide');
                        $msg.text(arg.message);
                    }
                }
         })
         }
    }


     </script>
{% endblock %}