{% extends "content_table_layout.html" %}
{% load contract_tags %}
{% load personnel_tags %}

{#{% load sfa_tags %}#}
{% block css %}
    <style>
     #toolbar >.btn{
          margin: 2px;
      }
    </style>
{%endblock %}
{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>售后客户</h5>
                <a  style="float:right" class="btn btn-info btn-add" title="刷新" href="javascript:window.location.reload()"> <span class='glyphicon glyphicon-refresh'/></a>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
                                <div class="btn-group" id="toolbar" role="group">
                                 <form class="form-inline" action="{% url "my_assign" %}" method="get" style="margin-bottom: 5px">
                                         <div class="form-group">
                                            <label class="sr-only" for="msg_type">产品</label>
                                            <div class="input-group">      <div class="input-group-addon">产品</div>
                                                <select class="form-control" name="product_id" id="product_id" >
                                                    <option value=0>所有</option>
                                                   {% build_product_ele %}
                                                </select>
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label class="sr-only" for="msg_type">审批状态</label>
                                            <div class="input-group">      <div class="input-group-addon">审批状态</div>
                                                <select class="form-control" name="is_approved" id="is_approved" >
                                                    <option value="3">所有</option>
                                                      <option value="1">通过</option>
                                                     <option value="0">未审批</option>
                                                     <option value="2">未通过</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" style="margin:0" onclick="" class="btn btn-primary queryButton">查询</button>
                                    </form >
                                    <button  onclick="addFollow()"  class="btn btn-info" ><i class="glyphicon glyphicon-plus"></i>&nbsp添加跟进记录</button>

                                </div>
                               <div class="col-xm-2 col-ms-2" style="padding-top: 10px;padding-left:0px">
                                 <span id="exportToolbar" style="display: inline-block" class="btn-group">
                                     <select id="sel_exportoption" class="form-control">
                                         <option value="basic">导出当前页数据</option>
                                         <option value="all">导出全部数据</option>
{#                                         <option value="selected">导出选中数据</option>#}
                                     </select>
                                 </span>
                             </div>
                                <table id="contract"  class="table export-table  table-bordered text-nowrap table-hover table-striped" data-mobile-responsive="true">
                                    <thead>
                                         <tr >
                                             <th><input type="checkbox" onclick="SelectAll(this)"></th>
                                             <th>合同编号</th>
                                             <th>客户</th>
                                             <th>产品</th>
                                             <th>套餐</th>
                                             <th>已收</th>
                                             <th>待收</th>
                                             <th>年限</th>
                                             <th>签订时间</th>
                                             <th>生效时间</th>
{#                                             <th>到期时间</th>#}
                                             <th>审批状态</th>
                                             <th>跟进客服</th>
                                             <th>操作</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                     {% for obj in query_sets %}
                                      <tr>

                                          <td><input type="checkbox"><input type="text" class="hidden" name="nid" value={{ obj.nid}}></td>
                                            <td>   <a  href="{%url "contract_detail" %}?id={{ obj.nid }}"  >{{obj.identifier  }}</a> </td>
                                          <td> {%change_to_customer obj.customer_id  %}</td>
                                          <td> {%change_to_product obj.product_id  %}</td>
                                          <td>{% change_to_product_meal obj.product_meal_id%} </td>
                                           <td>{{ obj.received }}</td>
                                           <td>{{ obj.pending }}</td>
                                           <td>{{ obj.year_limit }}</td>
                                           <td>{{ obj.sign |date:"Y-m-d" }}</td>
                                            <td>{{ obj.start_date|date:"Y-m-d" }}</td>
{#                                            <td>{{ obj.end_date |date:"Y-m-d" }}</td>#}
                                          <td>
                                               {% if obj.is_approved == 0 %}
                                                  未审批
                                               {% elif obj.is_approved == 1 %}
                                                   通过
                                               {% else %}
                                                   驳回
                                               {% endif %}
                                           </td>
                                           <td>{% if obj.follower_id == 0 %}
                                               未分配
                                           {% else %}
                                               {% change_to_staff  obj.follower_id %}
                                           {% endif %}
                                           </td>
                                            <td>
                                                <a  href="{%url "contract_detail" %}?id={{ obj.nid }}" class="btn btn-primary" >详细</a>
                                          </td>

                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <!-- Modal -->
    <!-- delete-->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">警告！</h4>
      </div>
      <div class="modal-body" style="text-align: center;font-size: 20px;">
        您确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="ensure" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
    </div>


{% endblock %}
{% block js%}
    <script>
           /*
    自执行函数
    */
     $(function () {
      //初始化化下拉框
      $("#sign").val({{ sign }})
      $("#product_id").val({{ product_id }})
      $("#is_approved").val({{ is_approved }})
  })
    $(function () {
        $("#contract").bootstrapTable({
            toolbar: "#toolbar",
            striped: true,
            sidePagination: "client",
            pagination: true,
            sortable: true,
            sortOrder: "asc",
            pageSize: 10,
            pageList: [10,15,20, 25],
            search: true,
            sortable: true,
            strictSearch: false,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "ID",
            showToggle:true,
            cardView:false, //是否显示详细视图
            detailView: false,
            cache: false,
            showExport: true, //是否显示导出
            exportTypes:[ 'excel','csv', 'xml','txt','json',"sql" ], //['json', 'xml', 'csv', 'txt', 'sql', 'excel']
            exportDataType: "basic",  //basic', 'all', 'selected'（当前页、所有、选中）
            exportOptions: {
            ignoreColumn: [0,-1], //忽略某一列的索引
            fileName: '客户合同',//导出文件的名称
        },
        });
    });
    //table数据导出
    $("#sel_exportoption").change(function () {
        //刷新参数设置
        $('#customers').bootstrapTable('refreshOptions', {
            exportDataType: $(this).val()
        });
    });
      function  SelectAll(ths) {
        //判断是否选中
        ischecked=$(ths).is(":checked");
        //如果选中则全选中,否则取消选中
        $(ths).parent().parent().parent().parent().siblings().find("input:checkbox").prop("checked",ischecked);
    }
//批量删除
        function MultiDelete() {
        var ids="";
        $("tbody input:checkbox:checked").each(function () {
            console.log($(this).next().val())
            id = $(this).next().val();
            if (id){
                id+="|";
                ids+=id;
            }
        });
        //是否选中
        if (ids==""){
             layer.alert('至少选择一个对象', {icon: 6 ,
              time: 2000, //2s后自动关闭
                btn: [ '知道了']}
                );
             return false
        }
        $("#delete_modal").modal("show");//显示模态框
        $("#ensure").click(function () {
            $("#delete_modal").hide();
              $.ajax({
            url:"{% url "customer_delete" %}",
            data:{"ids":ids},
            type:"get",
            dataType:"JSON",
            success:function (arg) {
                if (arg.status){
                    window.location.reload()
                }else{
                   layer.msg('删除失败', {icon: 2 ,
                                  time: 2000, //2s后自动关闭
                                    btn: [ '知道了']}
                                    );

                }
            }
        })
        });
    }

        //添加跟进记录
    function addFollow() {
       //是否有选中合同
     var is_checked=$("tbody input:checkbox:checked").length
        if (is_checked==1){
            var cid=$("tbody input:checkbox:checked").eq(0).next().val()
            console.log("addFollow")
            window.location.href="{% url 'contract_follow' %}?cid={0}".format(cid)
        } else if(is_checked > 1){
           layer.alert('只能选择份合同', {icon: 6 ,
              time: 1500, //1.5s后自动关闭
                btn: [ '知道了']}
                );
        }
        else{
           layer.alert('请选择合同', {icon: 6 ,
              time: 1500, //1.5s后自动关闭
                btn: [ '知道了']}
                );
        }
    }
    </script>
{% endblock %}