
{% extends "layout.html" %}
{% load personnel_tags %}
{% block css %}
    <style>
     .minus  {
        cursor: pointer;
       margin-left: 0px !important;
       color: red;
       position: absolute;
       top: 10px;
       left: -85px;

}
    .plus{
         cursor: pointer;
        position: absolute;
        top: 10px;
        left: -85px;
        color: #1ab394
    }
    </style>
{% endblock %}
{% block content %}
        <div class="wrapper wrapper-content container animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加人事档案 <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row form-horizontal">
                         <form action="{% url "staff_edit" %}" method="post" id="fm" class="form-horizontal" enctype="multipart/form-data">
                             {% csrf_token %}
                             <input type="hidden" name="sid" id="sid" >
                            <div class="form-group">
                            <label class="col-sm-2 control-label">工号</label>
                            <div class="col-sm-8">
                                <input type="text"id="job_number" class="form-control" name="job_number" value="" placeholder="必填选项">
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">生活照片</label>
                                <div class="col-sm-8">
                                    <a href="" class="hide"width="100"  height="100" id="pre_link" target="_blank">
                                    <p><img width="100"  id="life_photo" height="100"style=" border: 1px solid #dddddd;"  onclick="javascript:window.open(this.src)"></p>
                                    </a>
                                    <input type="file" id="photo_input"  class="form-control"  onchange="UploadImage(this)" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-8">
                                <input type="text" id="name" class="form-control" value="" placeholder="必填选项" name="name">
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">性别
                            </label>
                            <div class="col-sm-8">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value=0  checked="checked" name="gender">男</label>
                                     <label>&nbsp;&nbsp;
                                        <input type="radio" value=1 name="gender">女</label>
                                </div>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                           <div class="form-group">
                            <label class="col-sm-2 control-label">联系手机</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="phone" id="phone"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                           <div class="form-group">
                            <label class="col-sm-2 control-label">联系邮箱</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" id="email"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                           <div class="form-group">
                            <label class="col-sm-2 control-label">公司名称</label>
                            <div class="col-sm-8">
                                <select  name="company_id" class="form-control" id="company_id" >
                                    {% build_company_ele %}
                                </select>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                           <div class="form-group">
                            <label class="col-sm-2 control-label">所在项目</label>
                            <div class="col-sm-8">
                                <select  name="project_id" class="form-control" id="project_id" >
                                    {% build_project_ele %}
                                </select>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                           <div class="form-group">
                            <label class="col-sm-2 control-label">所在部门</label>
                            <div class="col-sm-8">
                                <select  name="department_id" class="form-control" id="department_id" >
                                    {% build_department_ele %}
                                </select>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">职级</label>
                            <div class="col-sm-8">
                                <select  name="job_rank_id" class="form-control" id="job_rank_id" >
                                    {% build_job_rank_ele %}
                                </select>
                            </div>
                        </div>
                              <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">职称</label>
                            <div class="col-sm-8">
                                <select  name="job_title_id" class="form-control" id="job_title_id" >
                                    {% build_job_title_ele %}
                                </select>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                             <div class="form-group">
                            <label class="col-sm-2 control-label">生日</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" name="birthday" id="birthday"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">阳历 / 农历
                            </label>
                            <div class="col-sm-8">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value=0  checked="checked" name="is_lunar">阳历</label>&nbsp;&nbsp;
                                      <label>
                                          <input type="radio" value=1  name="is_lunar">农历</label>
                                </div>
                            </div>
                        </div>
                         <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">身份证号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="id_card" id="id_card"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">籍贯</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="native_place" id="native_place"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">民族</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="nationality" id="nationality"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">学历</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="education" id="education"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">入职日期</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" name="hire_day" id="hire_day"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">招聘渠道</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="recruit_channel" id="recruit_channel"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">引荐员工姓名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="referrer" id="referrer"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">紧急联系人电话</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="contact_phone" id="contact_phone"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">紧急联系人姓名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="contact_man" id="contact_man"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">紧急联系人关系</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="contact_relation" id="contact_relation"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">家庭住址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="family_address" id="family_address"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">现住址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="current_address" id="current_address"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">银行卡号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="bank_account" id="bank_account"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">开户名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="account_name" id="account_name"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                           <div class="form-group">
                            <label class="col-sm-2 control-label">开户银行</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="bank" id="bank"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                           <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="remark" id="remark"> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                             <div class="hr-line-dashed"></div>

                        <div id="attachment-container" style="position: relative">
                    <!--初始化附件-->
                    {% if sid %}
                        {% for obj in staff_attach%}
                             <div class="attachment">
                            <div class="form-group ">
                            <label for="attachment" name="attach" style="position:relative;" class="col-xs-2 control-label">附件{{ forloop.counter }}:</label>
                              <div class="col-xs-8">
                                  <input type="text" name="said" class="hidden" value="{{ obj.said }}">
                                  <div class="old_file">
                                  <a href="{% url "attachment_download" %}?url={{ obj.attachment }}&name= {{ obj.name }}" style="margin-top:6px;display: inline-block">{{ obj.name }}</a>
                                  <span onclick="clearAttachment(this)" style="margin-left: 50px;">点击清除</span>
                                  <input type="text" name="file_path" class="hidden" value="{{ obj.attachment }}">
                                  <input type="text" name="file_name" value="{{ obj.name }}" class="hidden">
                                  </div>
                                      <input type="file" style="margin-top:10px" name="file" value="" onchange="UploadFile(this)">
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="content" class="control-label col-xs-2">附件描述：</label>
                                <div class="col-xs-8">
                                    <input name="content" class="form-control" value="{{ obj.description }}"  placeholder="附件描述">
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    {%endif  %}
                  <div class="attachment">
                        <div  class="form-group ">
                        <label for="attachment" name="attach" style="position:relative;" class="col-xs-2 control-label">附件：</label>
                          <div class="col-xs-6">
                              <input type="file" name="file"  onchange="UploadFile(this)">
                              <span  style ="" class="glyphicon glyphicon-plus plus " onclick="AddAttachment(this)" ></span>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label col-xs-2">附件描述：</label>
                            <div class="col-xs-8">
                                <input name="content" class="form-control"  placeholder="附件描述">
                            </div>
                        </div>
                    </div>
                </div>
                         </form>
                        </div>
                        <div class="hr-line-dashed"></div>
                         <div class="row" id="content_footer" >
                             <div class="form-actions well well-sm clearfix">
                                 <button type="submit" onclick="Submit(1)" class="default btn btn-primary hide-xs" name="_save" data-loading-text="保存中.."><i class="fa fa-save"></i> 保存并返回</button>
                                 <button type="submit"  onclick="Submit(2)" style="background-color: #0ba7a9" class="btn btn-info" data-loading-text="保存并增加另一个.." name="_addanother"><i class="fa fa-save"></i> 保存并增加另一个</button>
                                 <button type="submit"  onclick="Submit(3)" style="background-color: #0ba7a9" class="btn btn-info" data-loading-text="保存并继续编辑.." name="_continue"><i class="fa fa-save"></i> 保存并继续编辑</button>
                                 <a href="{% url "staff_list" %}"  class="default btn btn-info hide-xs" ><i class="fa fa-reply"></i> 返回</a>

                                 <!--error_msg-->
                                 <div class="alert alert-danger hide " onclick="Hidden(this)" style="display:inline-block ;padding: 7px 12px;margin: 0px">
                                    <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    </span>
                                    <span id="error_msg" style="font-size: 14px;"></span>
                                </div>
                             </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
     <script src="/static/js/jquery.cookie.js"></script>
{#    <script src="/static/js/"></script>#}
    <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/js/custom/form-validate.min.js"></script>
    <script src="/static/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

//字符串格式化
String.prototype.format=function()
{
  if(arguments.length==0) return this;
  for(var s=this, i=0; i<arguments.length; i++)
    s=s.replace(new RegExp("\\{"+i+"\\}","g"), arguments[i]);
  return s;
};


 /*
    自执行函数
    */
    $(function () {
        //如果tid不为0，则为创建
        var sid="{{ sid }}"
        if ( sid!=""){
           InitData()//初始化数据
        }
        else {

        }
    });
     //初始化数据
function InitData() {
        //初始化form
        $("#sid").val({{ query_set.sid }});
        $("#job_number").val("{{ query_set.job_number }}");
        $("#name").val("{{ query_set.name }}");
        $("#phone").val("{% if  query_set.phone %}{{ query_set.phone }} {% endif %}");
        $("input[name=gender]").val();
        $("input[name=gender][value={{ query_set.gender }}]").attr("checked",true);
        $("#email").val("{% if  query_set.email %}{{ query_set.email }} {% endif %}");
        $("#company_id").val({{ query_set.company_id }});
        $("#project_id").val({{ query_set.project_id }});
        $("#department_id").val({{ query_set.department_id }});
        $("#job_rank_id").val({{ query_set.job_rank_id }});
        $("#job_title_id").val({{ query_set.job_title_id }});
        $("#id_card").val("{% if  query_set.id_card %}{{ query_set.id_card }} {% endif %}");
        $("#birthday").val("{{ query_set.birthday |date:'Y-m-d'}}");
        $("input[name=is_lunar][value={{ query_set.is_lunar }}]").attr("checked",true);
        $("#nationality").val("{% if  query_set.nationality %}{{ query_set.nationality }} {% endif %}");
        $("#native_place").val("{% if  query_set.native_place %}{{ query_set.native_place }} {% endif %}");
        $("#education").val("{% if  query_set.education %}{{ query_set.education }} {% endif %}");
        $("#recruit_channel").val("{% if  query_set.recruit_channel %}{{ query_set.recruit_channel }} {% endif %}");
         $("#referrer").val("{% if  query_set.referrer %}{{ query_set.referrer }} {% endif %}");
        $("#hire_day").val("{{ query_set.hire_day |date:'Y-m-d'}}");
        $("#contact_phone").val("{% if  query_set.contact_phone %}{{ query_set.contact_phone }} {% endif %}");
        $("#contact_man").val("{% if  query_set.contact_man %}{{ query_set.contact_man }} {% endif %}");
         $("#contact_relation").val("{% if  query_set.contact_relation %}{{ query_set.contact_relation }} {% endif %}");
        $("#bank").val("{% if  query_set.bank %}{{ query_set.bank }} {% endif %}");
        $("#bank_account").val("{% if  query_set.bank_account %}{{ query_set.bank_account }} {% endif %}");
        $("#account_name").val("{% if  query_set.account_name %}{{ query_set.account_name }} {% endif %}");
        $("#family_address").val("{% if  query_set.family_address %}{{ query_set.family_address }} {% endif %}");
        $("#current_address").val("{% if  query_set.current_address %}{{ query_set.current_address }} {% endif %}");
        $("#remark").val("{% if  query_set.remark %}{{ query_set.remark }} {% endif %}");
        //初始化生活照
         var photo= "{{ life_photo }}"
        if (photo!=""){
             var path="{{ life_photo.life_photo }}"
            console.log(path)
             var name="{{ life_photo.name }}"
             //添加新的file
            var path_input='<input type="text" name="file_path" value=""  class="hidden" >';
            var name_input='<input type="text" name="file_name" value=""  class="hidden" >';
            $("#photo_input").parent().append(path_input);
            $("#photo_input").parent().append(name_input);

            $("#photo_input").parent().find("input[name=file_path]").val(path)
             $("#photo_input").parent().find("input[name=file_name]").val(name)
            //预览
            $("#life_photo").attr("src","/"+"{{ life_photo.life_photo }}")
            $("#pre_link").attr("src","/"+"{{ life_photo.life_photo }}")
            $("#pre_link").removeClass("hide")
        }
        //初始化附件
        var staff_attach= "{{ staff_attach}}"
       if (staff_attach !=""){

       }


    }


//添加附件

var att_num=1
//如果是修改的话，附件计数器设定为已存在的附件


function  AddAttachment (ths){
    var tag = $(ths).parent().parent().parent().clone();
    att_num+=1
    $(tag).find("input").val("")
    $(tag).find("label").first().text("附件"+att_num+":");
    $(tag).find("span").remove()
    $(tag).find("input").first().parent().append('<span class="glyphicon glyphicon-minus minus " onclick="RemoveAttachment(this)" style="margin-left: 200px;color: blue;color: red;"></span>');
    $(ths).parent().parent().parent().parent().append(tag);
}
//删除附件
function RemoveAttachment(ths){
    $(ths).parent().parent().parent().remove();
    att_num-=1
    var i=1
    $("#attachment-container").find('label[name="attach"]').each(function () {
        $(this).text("附件"+i)
        i+=1
    })
}

//清除任务附件标签
function clearAttachment(ths) {
    $(ths).parent().parent().parent().parent().remove()
    att_num-=1
}


//修改时获取附件
function GetAttachment(){
     var attachment_list=new Array()
     $(".attachment").each(function () {
        var attachment = {"attachment":'',"description":'',"name":'',};
        var said= $(this).find("input[name=said]").val();
        var file_path= $(this).find("input[name=file_path]").val();
        if (file_path==null){
            //空附件处理
            return true;
        }
        var content=$(this).find("input[name=content]").val();
        var name=$(this).find("input[name=file_name]").val();
        console.log(file_path,content,name)
        attachment.attachment=file_path;
        attachment.description=content;
        attachment.name=name;
        if (said){
            attachment['said']=said;
        }
        attachment_list.push(attachment)
        });
      attachment_list=JSON.stringify(attachment_list)//对象转化成json
    return attachment_list
}

//创建时获取附件
function FetchAttachment(){
    var attachment_list=new Array()
    $(".attachment").each(function () {
    var attachment = {"attachment":'',"description":'',"name":''};
    var file_path= $(this).find("input[name=file_path]").val();
        //空文件不上传
    if(file_path==null){
        return true;
    }
    var content=$(this).find("input[name=content]").val().trim();
    var name=$(this).find("input[name=file_name]").val();
    attachment.attachment=file_path;
    attachment.description=content;
    attachment.name=name;
    attachment_list.push(attachment)
});
    attachment_list=JSON.stringify(attachment_list)//对象转化成json
    return attachment_list
}


 /*
    上传图片
    */
    function UploadImage(ths){
        //去掉旧文件
        $("#pre_link").addClass("hide")
        $(ths).parent().find("input[name=file_path]").remove();
        $(ths).parent().find("input[name=file_name]").remove();
        //上传新文件
        var file_obj = $(ths)[0].files[0];
        if(file_obj){
            var fileSize = file_obj.size;
            var size = fileSize / 1024;
            if(size>8000){
                 alert("上传图片不能大于8M");
                 $(ths)[0].value="";
                 return false;   //阻止上传
                 }
            var form = new FormData();
            form.append("file", file_obj);
            $.ajax({
                url:"{% url 'life_photo' %}",
                type:"POST",
                data: form ,
                dataType:"JSON",
                // 告诉jQuery不要去处理发送的数据
                processData : false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType : false,
                success:function (arg) {
                    //添加新的file
                    var path_input='<input type="text" name="file_path" value=""  class="hidden" >';
                    var name_input='<input type="text" name="file_name" value=""  class="hidden" >';
                    $(ths).parent().append(path_input);
                    $(ths).parent().append(name_input);

                    $(ths).parent().find("input[name=file_path]").val(arg.data.path)
                    $(ths).parent().find("input[name=file_name]").val(arg.data.name)
                    //预览
                    $("#life_photo").attr("src","/"+arg.data.path)
                    $("#pre_link").attr("src","/"+arg.data.path)
                    $("#pre_link").removeClass("hide")
                },
            })
        }

    }

//上传附件
function UploadFile(ths){
    var file_obj = $(ths)[0].files[0];
    var fileSize = file_obj.size;
    var size = fileSize / 1024;
    if(size>10000){
         alert("附件不能大于10M");
         $(ths)[0].value="";
         return false;   //阻止上传
         }
    console.log("upload")
    var form = new FormData();
    form.append("file", file_obj);
    $.ajax({
        url:"{% url 'staff_attach' %}",
        type:"POST",
        data: form ,
        dataType:"JSON",
        // 告诉jQuery不要去处理发送的数据
        processData : false,
        // 告诉jQuery不要去设置Content-Type请求头
        contentType : false,
        success:function (arg) {
            //去掉旧文件
            $(ths).parent().find(".old_file").remove()
            //添加新的file
            var path_input='<input type="text" name="file_path" value=""  class="hidden" >';
            var name_input='<input type="text" name="file_name" value=""  class="hidden" >';
            $(ths).parent().append(path_input);
            $(ths).parent().append(name_input);
            console.log(arg.data.path);
            console.log(arg.data.name);
            $(ths).parent().find("input[name=file_path]").val(arg.data.path)
            $(ths).parent().find("input[name=file_name]").val(arg.data.name)
        },
    })
}

//创建时获取生活照
    function  FetchLifePhoto() {
        var life_photo_path = $("#photo_input").next().val();
        var life_photo_name= $("#photo_input").next().next().val();
        if (life_photo_path){
             var life_photo = { "life_photo":life_photo_path,"name":life_photo_name}
        }
        else{
            life_photo={}
        }
        life_photo = JSON.stringify(life_photo)
        return life_photo
    }
//添加or编辑
      function Submit(cons){
         var $msg = $('#error_msg');
         $msg.parent().addClass('hide');
         var form =$("#fm");
        //验证表单
         if ( form.valid()){
              //把生活照添加到form中
             var life_photo=FetchLifePhoto();
             var life_photo_ele=$("<input type='text' class='hide' name='life_photo'  value={0} />".format(life_photo));
             form.append(life_photo_ele)
            //把附件添加到form中
              var sid="{{ sid }}"
             if(sid!=""){
                  //编辑
                 var attachment=GetAttachment()
                 var success_msg="修改成功"
             }else{
                  //创建
                 var attachment=FetchAttachment()
                 var success_msg="添加成功"
             }
             var attachment_ele=$("<input type='text' class='hide' name='attach' value={0} />".format(attachment))
             form.append(attachment_ele)
             $.ajax({
                url: '{% url "staff_edit" %}',
                type: 'POST',
                data: form.serialize(),
                dataType: 'JSON',
                success: function (arg) {
                   if (arg.status) {
                        if (cons==1){
                             window.location.href='{% url "staff_list" %}';
                        }else if(cons==2){
                             window.location.href='{% url "staff_edit" %}';
                        }else{
                              window.location.href='{% url "staff_edit" %}?sid={0}'.format(arg.data);
                        }
                    } else {
                        $msg.parent().removeClass('hide');
                        $msg.text(arg.message);
                    }
                }
         })
         }
    }



 </script>
{% endblock %}

