{% extends "layout.html" %}
{% load  admin_tags %}
{% block css%}
    <style>
    #top > span{
        margin-right: 60px;
    }
      .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
    .minus {
       margin-left: 0px !important;
       color: red;
       position: absolute;
       top: 10px;
       left: -85px;

}
    .plus{
        position: absolute;
        top: 10px;
        left: -85px;
        color: blue
    }
    label{
        font-weight: bold;
    }
    .glyphicon-ok{
        border: 1px solid;
        padding: 1px;
        background-color: #ff410f;
        border-radius: 50%;
        color:white;
        position: absolute;
        top:22px;
        right: 38px

    }
    .progress{position: relative; width:350px;height: 30px;margin: 12px }
    .progress_bg{height: 12px; border: 1px solid #ddd; border-radius: 5px; overflow: hidden;background-color:#f2f2f2;}
    .progress_bar{background: #5FB878; width: 0; height: 10px; border-radius: 5px;}
    .progress_btn{width: 20px; height: 20px; border-radius: 5px; position: absolute;background:#fff;
left: 0px; margin-left: -10px; top:-5px; cursor: pointer;border:1px #ddd solid;box-sizing:border-box;}
    .progress_btn:hover{border-color:#F7B824;}
    </style>
{% endblock %}
{% block conent%}
    <div class="container"   style="background-color: #f3f3f3 ;border-bottom: 2px double; width:80%;margin-top: 10px;">
      <div class="form-group  " id="top" style="font-size:14px;font-weight:bold">
            {% query_task_by_tid  task_obj.tid  as total_task_obj %}
           {% if task_obj.title %}
                <label class="form-label" for="task_title"  >任务标题:</label>
                <span id="task_title" >{{ task_obj.title }}</span>
            {% else %}
               <label class="form-label" for="task_title"  >任务标题:</label>
               <span id="task_title" >{{ total_task_obj.title }}</span>
            {% endif %}
           <label class="form-label" for="publisher"  >发起人:</label>
            <span id="publisher"  >{% change_to_staff total_task_obj.issuer_id %}</span>
           <label class="form-label" for="attribute"  >任务属性:</label>
            <span id="attribute" >{% change_to_task_type  total_task_obj.type_id  %}</span>
          <br>
           <label class="form-label" for="deadline" >截止时间:</label>
           {% if task_obj.deadline %}
               <span id="deadline" >{{ task_obj.deadline |date:"Y-m-d H:i"}}</span>
            <label class="form-label" for="countdown"  >倒计时:</label>
        <span id="countdown"  >{% build_countdown_time task_obj.deadline  %}天</span>
           {% else %}
               <span id="deadline" >{{ total_task_obj.deadline |date:"Y-m-d H:i"}}</span>
            <label class="form-label" for="countdown"  >倒计时:</label>
        <span id="countdown"  >{% build_countdown_time total_task_obj.deadline  %}天</span>
           {% endif %}

      </div>
  </div>
    <div class="container-fluid"style="width: 80%;">
        <div class="row">
    <div class="col-xs-4 left" >
        <h5 style="font-size:14px;font-weight:bold ">相关任务内容：</h5>
        {% if task_obj.title %}
            {% query_task_attachment_by_tasid task_obj.tasid as p_attachment_list %}
             <div class="form-group  " >
            <label class="form-label" >任务描述:</label>
                <span id="task_title" >{{ task_obj.content }}</span>
            </div>
            {% for obj in p_attachment_list %}
             <div class="form-group "  >
                <label class="form-label"   >任务附件{{ forloop.counter }}:</label>
                <a  href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                <label class="form-label" for="task_title"  >附件描述:</label>
                <span id="task_title" >{{ obj.description }}</span>
             </div>
             {% endfor %}

        {% else %}
            {% query_task_attachment_by_tid total_task_obj.tid as t_attachment_list %}
             <div class="form-group  " id="top" >
               <label class="form-label"  >任务描述:</label>
                <span  >{{ total_task_obj.content }}</span>
            </div>
            {% for obj in p_attachment_list %}
             <div class="form-group  "  >
                <label class="form-label"   >任务附件{{ forloop.counter }}:</label>
                 <a href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                 <label class="form-label"  >附件描述:</label>
                <span  >{{ obj.description }}</span>
            </div>
            {% endfor %}
        {% endif%}

    </div>
   <div class="col-xs-8 left" style="border-left:2px solid #9F9F9F">
       <div class="row form-horizontal" style="position: relative;margin-top: 30px">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title" class="col-xs-3 control-label">标题：</label>
                      <div class="col-xs-9">
                          <textarea name="title"  class="form-control"  id="title" placeholder="任务名称">
                        </textarea>
                      </div>
                </div>
                <div class="form-group" style="padding: 0px">
                    <label for="tag" class="control-label col-xs-3">标签：</label>
                    <div class="col-xs-9" style="padding: 0px">
                        <div class="col-xs-10">
                        <input type="text" name="tag" class="form-control" id="tag" placeholder="请输入要添加的标签">
                        </div>
                        <div class="col-xs-2" >
                            <button class=" btn inline-block right" onclick="AddTag(this)">添加</button>
                        </div>
                        <div class="col-xs-12" id="tag_container" >
                        <div class="tag hidden  " >
                            <div class="alert alert-info alert-dismissible pull-left" role="alert" style="padding: 2px;margin-right: 25px;">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                                <strong></strong>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                <div class="form-group">
                    <label for="summary" class="col-xs-3 control-label">小结：</label>
                      <div class="col-xs-9">
                          <textarea name="title" style="height:180px" class="form-control"  id="summary" placeholder="小结">
                        </textarea>
                      </div>
                </div>
                <div class="form-group">
                    <label  class="col-xs-3 control-label" for="assist">协助：</label>
                    <div class=" radio col-xs-9" id="assist">
                         <label ><input type="radio" name="assist"
         value="0" checked>否</label>
                        <label ><input type="radio" name="assist"
         value="1" >是</label>
                    </div>
                </div>
                <div id="attachment-container" style="position: relative">
                  <div class="attachment">
                        <div  class="form-group ">
                        <label for="attachment" name="attach" style="position:relative;" class="col-xs-3 control-label">附件：</label>
                          <div class="col-xs-5">
                              <input type="file" name="file"  onchange="UploadFile(this)">
                              <span  style ="" class="glyphicon glyphicon-plus plus " onclick="AddAttachment(this)" ></span>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label col-xs-3">附件描述：</label>
                            <div class="col-xs-9">
                                <input name="content" class="form-control" style="height:50px"  placeholder="附件描述">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <label for="remark" class="col-xs-3 control-label">备注：</label>
                  <div class="col-xs-9">
                      <textarea name="remark"  class="form-control"  id="remark" placeholder="备注">
                    </textarea>
                  </div>
                </div>
                <div class="form-group ">
           <label for="progress" class="col-xs-3 control-label">进度评估：</label>
           <div class="progress col-xs-6"  id="progress">
                <div class="progress_bg">
                    <div class="progress_bar"></div>
                </div>
                <div class="progress_btn"></div>
                <div class="text">{{ completion }}%</div>
            </div>
        </div>
            </div>
        <div class="form-group col-xs-8">
            <a href="{% url "personal_task_list" %}" class="btn btn-danger" style="margin:0 50px" >返回</a>
            <button  onclick="Submit()" class="btn btn-primary" style="float: right;">提交</button>

        </div>
    </div>
   </div>
  </div>
         {% for item in task_submit_record %}
        <div class="row">
            <div class="col-xs-4" style="padding:20px;position: relative" ><span href="" style="color:red;font-size: 18px;" class="right" > {{ item.last_edit|date:"Y-m-d " }}<span class="glyphicon glyphicon-ok" style="margin-right:-50px;z-index:10 "></span><br><span class="right" style="font-size: 14px;margin-right:20px">{{ item.last_edit|date:"H:i:s "}}</span></span></div>
             <div class="col-xs-8" style="border-left:2px solid #9F9F9F;padding:20px" >
                <label class="form-label" style="margin: 3px 0"  >进度评估:</label>
                 <span  >{{ item.completion }}%</span><br>
                 <label class="form-label" >标题:</label>
                 <span  >{{ item.title }}</span><br>
                 <label class="form-label"  >标签:</label>
                 {% build_record_tags_ele  item.tsid%}<br>
                  <label class="form-label"  >小结:</label>
                 <span  >{{ item.summary }}</span><br>
                 {% query_submit_attachment_by_tsid item.tsid as s_attachment_list%}
                 {% for obj in p_attachment_list %}
                    <label class="form-label"   >附件{{ forloop.counter }}:</label>
                    <a  href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                    <label class="form-label" for="task_title"  >附件描述:</label>
                    <span id="task_title" >{{ obj.description }}</span><br>
                 {% endfor %}
                  <label class="form-label"  >备注:</label>
                 <span  >{{ item.remark }}</span><br>
             </div>
        </div>
         {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script>
   {#    预防csrf#}
    var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    //字符串格式化
    String.prototype.format=function()
    {
      if(arguments.length==0) return this;
      for(var s=this, i=0; i<arguments.length; i++)
        s=s.replace(new RegExp("\\{"+i+"\\}","g"), arguments[i]);
      return s;
    };
    //进度条
    $(function(){
                var completion={{ completion }}
                var tag = false,ox = 0,left = 300*completion/100, bgleft = 0;
                $('.progress_btn').css('left', left);
                $('.progress_bar').width(left);
                $('.progress_btn').mousedown(function(e) {
                    ox = e.pageX - left;
                    tag = true;
                });
                $(document).mouseup(function() {
                    tag = false;
                });
                $('.progress').mousemove(function(e) {//鼠标移动
                    if (tag) {
                        left = e.pageX - ox;
                        if (left <= 0) {
                            left = 0;
                        }else if (left > 300) {
                            left = 300;
                        }
                        $('.progress_btn').css('left', left);
                        $('.progress_bar').width(left);
                        $('.text').html(parseInt((left/300)*100) + '%');
                    }
                });
                $('.progress_bg').click(function(e) {//鼠标点击
                    if (!tag) {
                        bgleft = $('.progress_bg').offset().left;
                        left = e.pageX - bgleft;
                        if (left <= 0) {
                            left = 0;
                        }else if (left > 300) {
                            left = 300;
                        }
                        $('.progress_btn').css('left', left);
                        $('.progress_bar').animate({width:left},300);
                        $('.text').html(parseInt((left/300)*100) + '%');
                    }
                });
            });

    //添加标签
function AddTag(ths){
        var val=$(ths).parent().parent().find("input").val();
        $(ths).parent().parent().find("input[name=tag]").val("");//清空input 标签
        if (val){
             var tag = $(ths).parent().next().children().first().clone();
             tag.removeClass("hidden");
             $(tag).find("strong").text(val);
             $(ths).parent().next().append(tag);
        }
        else{
            alert("输入不能为空")
        }
    }
//添加附件

var att_num=1
//如果是修改的话，附件计数器设定为已存在的附件数
{% if tid %}
{% for obj in task_attachment_data%}
    att_num+={{ forloop.counter }}
{% endfor %}
{% endif %}

function  AddAttachment (ths){
    var tag = $(ths).parent().parent().parent().clone();
    att_num+=1
    $(tag).find("input").val("")
    $(tag).find("label").first().text("附件"+att_num+":");
    $(tag).find("span").remove()
    $(tag).find("input").first().parent().append('<span class="glyphicon glyphicon-minus minus " onclick="RemoveAttachment(this)" style="margin-left: 200px;color: blue;color: red;"></span>');
    $(ths).parent().parent().parent().parent().append(tag);
}
//删除附件
function RemoveAttachment(ths){
    $(ths).parent().parent().parent().remove();
    att_num-=1
    var i=1
    $("#attachment-container").find('label[name="attach"]').each(function () {
        $(this).text("附件"+i)
        i+=1
    })
}
//清除任务附件标签
function clearAttachment(ths) {
    $(ths).parent().parent().parent().parent().remove()
    att_num-=1
}
 //获取标签内容
function  FetchTag() {
    var tags=new Array();
    $("#tag").parent().parent().find("strong").each(function () {
        if($(this).text()){
            tag =$(this).text();
            tags.push(tag)
        }
    });
    tags=tags.join("|")
    return tags
}
//修改时获取标签内容
function GetTag() {
    var tags_list = new Array();
    $("#tag").parent().parent().find("strong").each(function (){
        var tag ={"name":'',"tid":''};
        var name= $(this).text()
        var ttid=$(this).parent().find("input[name=ttid]").val();
        if (name!=''){
            tag.name=name;
            if(ttid){
                 tag.ttid=ttid
            }
        }else{
            return true;
        }
        tags_list.push(tag)
    })
    tags_list=JSON.stringify(tags_list)
    return tags_list
}

//修改时获取附件
function GetAttachment(){
     var attachment_list=new Array()
     $(".attachment").each(function () {
        var attachment = {"attachment":'',"description":'',"name":'','tid':''};
        var tamid= $(this).find("input[name=tamid]").val();
        var file_path= $(this).find("input[name=file_path]").val();
        if (file_path==null){
            //空附件处理
            return true;
        }
        var content=$(this).find("input[name=content]").val();
        var name=$(this).find("input[name=file_name]").val();
        attachment.attachment=file_path;
        attachment.description=content;
        attachment.name=name;
        if (tamid){
            attachment['tamid']=tamid;
        }
        attachment_list.push(attachment)
        });
      attachment_list=JSON.stringify(attachment_list)//对象转化成json
    return attachment_list
}

//创建时获取附件
function FetchAttachment(){
    var attachment_list=new Array()
    $(".attachment").each(function () {
    var attachment = {"attachment":'',"description":'',"name":''};
    var file_path= $(this).find("input[name=file_path]").val();
        //空文件不上传
    if(file_path==null){
        return true;
    }
    var content=$(this).find("input[name=content]").val().trim();
    var name=$(this).find("input[name=file_name]").val();
    attachment.attachment=file_path;
    attachment.description=content;
    attachment.name=name;
    attachment_list.push(attachment)
});
    attachment_list=JSON.stringify(attachment_list)//对象转化成json
    return attachment_list
}
//上传附件
function UploadFile(ths){
    var file_obj = $(ths)[0].files[0];
    var form = new FormData();
    form.append("file", file_obj);
    $.ajax({
        url:"/attachment_upload.html",
        type:"POST",
        data: form ,
        dataType:"JSON",
        // 告诉jQuery不要去处理发送的数据
        processData : false,
        // 告诉jQuery不要去设置Content-Type请求头
        contentType : false,
        success:function (arg) {
            //去掉旧文件
            $(ths).parent().find(".old_file").remove()
            //添加新的file
            var path_input='<input type="text" name="file_path" value=""  class="hidden" >';
            var name_input='<input type="text" name="file_name" value=""  class="hidden" >';
            $(ths).parent().append(path_input);
            $(ths).parent().append(name_input);
            $(ths).parent().find("input[name=file_path]").val(arg.data.path)
            $(ths).parent().find("input[name=file_name]").val(arg.data.name)
        },
    })
}

//任务提交
function Submit() {
        var title = $("#title").val().trim();
        var summary = $("#summary").val().trim();
        var remark = $("#remark").val().trim();
        var is_assist = $("input[name=assist]:checked").val();
        var completion_str = $(".text").html();
        var completion = parseInt(completion_str);
        var tasid= {{ task_obj.tasid }};
        $.ajax({
                url: "{%url "complete_task" %} ",
                type: "POST",
                data:  {
                    "tasid":tasid,
                    "title": title,
                    "summary": summary,
                    "remark":remark,
                    "is_assist":is_assist,
                    "completion":completion,
                    "tags":FetchTag(),
                    "attachment":FetchAttachment(),
        },
            dataType: "json",
            success: function (arg) {
                if (arg.status) {
                    alert("提交成功")
                    window.location.href="{%url "complete_task" %}?tasid={{ task_obj.tasid }}" ;
                } else {
                    alert(arg.message)
                }
            }
        })
    }

    </script>
{% endblock %}