{% extends "layout.html" %}
{% load admin_tags %}
{% block css %}

      <style>
        td, th{
            text-align: center;
            vert-align: middle;
            padding: 10px 18px !important;
        }
     </style>
{%endblock %}
{% block conent %}
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">绩效分类</div>
  <div class="panel-body" style="background-color:#f2f2f2">
      <div class="right" style=" float: right">
      <a href="{% url "performence_edit" %}"><button  class ="btn btn-primary">添加绩效</button></a>
          <button  onclick="MultiDelete()" class="btn btn-danger ">批量删除</button>
      </div>
  </div>
    </div>

      <!-- Table -->
    <table id="table_local" class="table datatable table table-striped table-hover table-striped">
      <thead>
      <tr >
          <th><input type="checkbox" onclick="SelectAll(this)"></th>
          <th>ID</th>
          <th>绩效名称</th>
          <th>个人分值</th>
          <th>个人总分</th>
          <th>团队分值</th>
          <th>团队总分</th>
          <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for obj in query_sets %}
      <tr>
          <td><input type="checkbox"></td>
          <td>{{ obj.pid }}</td>
          <td>{{ obj.name }}</td>
          <td>{{ obj.personal_score}}</td>
          <td>{{ obj.personal_total}}</td>
          <td>{{ obj.team_score}}</td>
          <td>{{ obj.team_total}}</td>
            <td>
              <a  href="{%url "performence_edit" %}?pid={{ obj.pid }}" class="btn btn-primary" >编辑</a>
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
    <!-- Modal -->
    <!-- delete-->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">警告！</h4>
      </div>
      <div class="modal-body" style="text-align: center;font-size: 20px;">
        您确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="ensure" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
    </div>


{% endblock %}
{% block js%}
    <script>

           /*
    自执行函数
    */
    $(function () {
         //初始化datatables 改成中文显示
       $('#table_local').dataTable({
           bDestroy: true,
           autoWidth:false,////不开启自动宽度，用bootstrap的自适应去调整
           "lengthMenu":[10,20,30, 40,50],//表格行数选择框内数目 显示2条,4条,20条,50条
           "displayLength": 10,//默认的显示行数 (也就是每页显示几条数据)
           "language": {//自定义语言提示
                "processing": "处理中...",
                "lengthMenu": "显示 _MENU_ 项结果",
                "zeroRecords": "没有找到相应的结果",
                "info": "第 _START_ 至 _END_ 行，共 _TOTAL_ 行",
                "infoEmpty": "第 0 至 0 项结果，共 0 项",
                "infoFiltered": "(由 _MAX_ 项结果过滤)",
                "infoPostFix": "",
                "search": "搜索:",
                "searchPlaceholder": "请输入要搜索内容...",
                "url": "",
                "thousands": "'",
                "emptyTable": "表中数据为空",
                "loadingRecords": "载入中...",
                "infoThousands": ",",
                "paginate": {
                    "first": "首页",
                    "previous": "上页",
                    "next": "下页",
                    "last": "末页"
                }
            }
	});
    });
      function  SelectAll(ths) {
        //判断是否选中
        ischecked=$(ths).is(":checked");
        //如果选中则全选中,否则取消选中
        $(ths).parent().parent().parent().siblings().find("input:checkbox").prop("checked",ischecked);
    }
//批量删除
    function MultiDelete() {
        $("#delete_modal").modal("show");//显示模态框
        var ids="";
        $("tbody input:checkbox:checked").each(function () {
            id = $(this).parent().next().text();
            if (id){
                id+="|";
                ids+=id;
            }
        });
        $("#ensure").click(function () {
            $("#delete_modal").hide();
              $.ajax({
            url:"{% url "performence_delete" %}",
            data:{"ids":ids},
            type:"get",
            dataType:"JSON",
            success:function (arg) {
                if (arg.status){
                   alert("删除成功");
                    window.location.reload()
                }else{
                    alert(arg.message)
                    window.location.reload()
                }
            }
        })
        });
    }
    </script>
{% endblock %}