{% extends "layout.html" %}
{% load  admin_tags %}

{% block css %}
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">

    <style>
    .download_file{
        color:#337ab7 !important
    }
     #content-main{
      overflow :auto
     }
    </style>
{% endblock %}

{% block content %}
    <div class="row" style="width: 100%">
        <div class="col-sm-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        {% query_task_map_by_tmid task_obj.tmid_id as task_map %}
                        {% query_task_by_tid task_map.tid_id as base_task %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="m-b-md">
{#                                    <a href="{%url "task_edit" %}?tid={{ task_obj.tid }}" class="btn btn-white btn-xs pull-right">编辑项目</a>#}
                                    <h3 style="color:#1ab394">主任务：{{ base_task.title }}</h3>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>任务状态：</dt>
                                    {% if task_obj.is_finish  %}
                                        <dd><span class="label label-primary">已完成</span>
                                    </dd>
                                    {% else %}
                                    <dd><span class="label label-primary">进行中</span>
                                    </dd>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="dl-horizontal">
                                    <dt>任务方式：</dt>
                                    <dd>{% change_to_task_way  task_map.team  %}
                                    </dd>
                                    <dt>指派人：</dt>
                                    <dd>{% change_to_staff task_map.assigner_id %}</dd>
                                    <dt>审核人：</dt>
                                    <dd>{% build_task_review_ele  task_map.tmid%}</dd>
                                    <dt>次序审核：</dt>
                                    <dd><span><i class="fa fa-circle text-warning"></i>{% fetch_review_follow task_obj.tmid %} </span>
                                    </dd>
                                    <dt>任务分类：</dt>
                                    <dd>{% change_to_task_type  base_task.type_id  %}
                                    </dd>
                                    <dt>任务周期：</dt>
                                    <dd>{% change_to_task_cycle task_map.cycle_id %}</dd>
                                    <dt>绩效分类：</dt>
                                    <dd>{% change_to_task_perfomance task_map.perfor_id%}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-7" id="cluster_info">
                                <dl class="dl-horizontal">

                                    <dt>最后更新：</dt>
                                    <dd>{{ task_map.last_edit|date:"Y-m-d H:i"}}</dd>
                                    <dt>创建于：</dt>
                                    <dd>{{ task_map.create_time |date:"Y-m-d H:i"}}</dd>
                                    <dt>截止时间：</dt>
                                    <dd>{{ task_map.deadline |date:"Y-m-d H:i"}}</dd>
                                    <dt>倒计时：</dt>
                                    <dd>{% build_countdown_time task_map.deadline  %}天</dd>
                                    <dt>团队成员：</dt>
                                    <dd class="project-people">
                                        {% fetch_task_assing_member task_map.tmid %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <dl class="dl-horizontal">
                                    <dt>当前进度</dt>
                                    <dd>
                                         {% fetch_completion_by_tasid task_obj.tasid  as progerss%}
                                        <div class="progress progress-striped active m-b-sm">
                                            <div style="width: {{ progerss }}%;" class="progress-bar"></div>
                                        </div>
                                        <small>当前已完成项目总进度的 <strong>{{ progerss }}%</strong></small>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-sm-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="task_detail.html#tab-1"   data-toggle="tab">团队进度</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>成员</th>
                                                            <th>进度</th>
                                                            <th>开始时间</th>
                                                            <th>截止时间</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% fetch_task_assing_list task_map.tmid as task_assign_list %}
                                                        {% for obj in task_assign_list %}
                                                            {% if obj.member_id_id ==  user_id  %}
                                                            {% else %}
                                                                  <tr>
{#                                                            <td>#}
{#                                                                <span class="label label-primary"> {% fetch_assign_finish_status obj.is_finish %}</span>#}
{#                                                            </td>#}
                                                            <td>{% fetch_task_assign_member_by_tasid obj.tasid  0%}</td>
                                                            <td class="project-completion">
                                                            <small>当前进度： {{ obj.progress }}%</small>
                                                            <div class="progress progress-mini">
                                                                <div style="width: {{ obj.progress }}%;" class="progress-bar"></div>
                                                            </div>
                                                           </td>
                                                            <td>{{ obj.create_time }}</td>
                                                             {% if obj.deadline  %}
                                                                  <td>{{ obj.deadline }}</td>
                                                             {% else %}
                                                                  <td>{{ task_map.deadline }}</td>
                                                             {% endif %}
                                                        </tr>
                                                            {% endif %}

                                                        {% endfor %}

                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="tab-pane" id="tab-2">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="wrapper wrapper-content project-manager">
                <h4>任务描述</h4>
                <p class="small" style="text-indent:2em">{{ base_task.content }}
                </p>
                <h5>项目标签</h5>
                <ul class="tag-list" style="padding: 0">
                    {% build_task_tags_list  base_task.tid%}
                </ul>
                <br>
                <br>
                <h5>项目附件</h5>
                <ul class="list-unstyled project-files">
                    {% query_task_attachment_by_tid base_task.tid as t_attachement %}
                    {% for obj in t_attachement %}
                         <li>
                             <label class="form-label"   >任务附件{{ forloop.counter }}:</label>
                             <a class="download_file" href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                            <label class="form-label" for="task_title"  >附件描述:</label>
                            <span  >{{ obj.description }}</span>
                        </li>
                    {% endfor %}

                </ul>
                    <lable>备注：</lable>
                    <span class="small" style="text-indent:2em">{{ task_map.remark }}
                    </span>
                <div class="m-t-md">

                </div>
            </div>
            {% if task_obj.title %}
                  <div class="wrapper wrapper-content project-manager">
               <h3 style="color:#1ab394">个人任务：</h3>
               <h4>任务名称</h4>
                <p class="small" style="text-indent:2em">{{ task_obj.title }}
                </p>
                <h4>任务描述</h4>
                <p class="small" style="text-indent:2em">{{ task_obj.content }}
                </p>
                <h5>项目标签</h5>
                <ul class="tag-list" style="padding: 0">
                    {% build_task_assign_tags_list  task_obj.tasid%}
                </ul>
                <br>
                <br>
                <h5>项目附件</h5>
                <ul class="list-unstyled project-files">
                    {% query_task_attachment_by_tasid task_obj.tasid as p_attachment_list %}
                         <div class="form-group  " style="margin-bottom: 0px" >
                            <label class="form-label" >任务描述:</label>
                            <span id="task_title" >{{ task_obj.content }}</span>
                        </div>
                        {% for obj in p_attachment_list %}
                         <div class="form-group "  >
                            <label class="form-label"   >任务附件{{ forloop.counter }}:</label>
                            <a  href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                            <label class="form-label" for="task_title"  >附件描述:</label>
                            <span id="task_title" >{{ obj.description }}</span>
                         </div>
                     {% endfor %}
                </ul>

                <div class="m-t-md">


                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock%}

{% block js %}
    <script>
        $(document).ready(function(){$("#loading-example-btn").click(function(){btn=$(this);simpleLoad(btn,true);simpleLoad(btn,false)})});function simpleLoad(btn,state){if(state){btn.children().addClass("fa-spin");btn.contents().last().replaceWith(" Loading")}else{setTimeout(function(){btn.children().removeClass("fa-spin");btn.contents().last().replaceWith(" Refresh")},2000)}};
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
{% endblock %}

