{% extends "layout.html" %}
{% load  admin_tags %}

{% block css  %}
    <style>

        .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
      #toolbar >button{
          margin: 0 2px;
       }

     </style>
{% endblock %}
{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>我的任务</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">选项1</a>
                        </li>
                        <li><a href="#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">

                            <div class="example">
                                <div class="btn-group hidden-xs" id="toolbar" role="group">
                                </div>
                                <table id="personal_task"  class="table text-nowrap table-hover table-striped" data-mobile-responsive="true">
                                    <thead>
                                         <tr >
                                              <th><input type="checkbox" onclick="SelectAll(this)"></th>
                                              <th>ID</th>
                                              <th>任务名称</th>
                                              <th>任务描述</th>
                                              <th>任务类别</th>
                                              <th>完成状态</th>
                                              <th>创建时间</th>
                                              <th>截止时间</th>
                                              <th>操作</th>
                                         </tr>
                                    </thead>
                                    <tbody>
                                    {% for obj in  query_sets%}
                                      {% query_task_by_tid obj.tid_id as task_obj %}
                                      {% if obj.title %}
                                           <tr>
                                              <td><input type="checkbox"></td>
                                              <td>{{ obj.tid_id }}</td>
                                              <td>{{ obj.title }}</td>
                                              <td>{{ obj.content|slice:"20"}}</td>
                                              <td>{% change_to_task_type  task_obj.type_id  %}</td>
                                    {#          <td>{% change_to_staff obj.issuer_id %}</td>#}
                                    {#          <td>{% change_to_task_assign_status  obj.is_assign%}</td>#}
                                    {#          <td>{% change_to_task_status obj.status %} </td>#}
                                              <td>{% change_to_task_finish_status obj.is_finish%}</td>
                                              <td>{{ obj.deadline |date:"Y-m-d "}}</td>
                                              <td>{{ obj.create_time|date:"Y-m-d H:i" }}</td>
                                                <td>
                                                     {% if obj.is_finish %}
                                                        <a  href="{%url "complete_task" %}?tasid={{ obj.tasid }}" class="btn btn-primary" >查看</a>
                                                    {% else %}
                                                        <a  href="{%url "complete_task" %}?tasid={{ obj.tasid }}"  class="btn btn-primary" >继续任务</a>
                                                    {% endif %} &nbsp &nbsp
                                                    {% fetch_completion_by_tasid obj.tasid %} &nbsp
                                              </td>
                                          </tr>
                                      {% else %}
                                            <tr>
                                              <td><input type="checkbox"></td>
                                              <td>{{ obj.tid_id }}</td>
                                              <td>{{ task_obj.title }}</td>
                                              <td>{{ task_obj.content|slice:"20"}}</td>
                                              <td>{% change_to_task_type  task_obj.type_id  %}</td>
                                    {#          <td>{% change_to_staff obj.issuer_id %}</td>#}
                                    {#          <td>{% change_to_task_assign_status  obj.is_assign%}</td>#}
                                    {#          <td>{% change_to_task_status obj.status %} </td>#}
                                              <td>{% change_to_task_finish_status obj.is_finish%}</td>
                                              <td>{{ task_obj.deadline |date:"Y-m-d "}}</td>
                                              <td>{{ task_obj.create_time|date:"Y-m-d " }}</td>
                                                <td>
                                                    {% if obj.is_finish %}
                                                        <a  href="{%url "complete_task" %}?tasid={{ obj.tasid }}" class="btn btn-primary" >查看</a>
                                                    {% else %}
                                                        <a  href="{%url "complete_task" %}?tasid={{ obj.tasid }}" class="btn btn-primary " >继续任务</a>
                                                    {% endif %}
                                              </td>
                                          </tr>
                                      {% endif %}
                                  {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>

{% endblock %}
{% block js %}
    <script>
      /*
    自执行函数
    */
    //初始化bootastarp_table
    $(function () {
        $("#personal_task").bootstrapTable({
            toolbar: "#toolbar",
            striped: true,
            sidePagination: "client",
            pagination: true,
            sortable: true,
            sortOrder: "desc",
            pageNumber:1,
            pageSize: 15,
            pageList: [10, 25],
            search: true,
            strictSearch: false,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "ID",
            showToggle:true,
            cardView: false,
            detailView: false,
            cache: false
        });
    });
    </script>
{% endblock%}