{% extends "content_table_layout.html" %}
{% load  admin_tags %}

{% block css  %}

     <style>
        .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }

      .select-box{
          top:5px;
          height: 200px !important;
          width: 100%;
        border-radius: 3px;
      }
       span.glyphicon.glyphicon-arrow-left, span.glyphicon.glyphicon-arrow-right {
        position: absolute;
        right: -8px;
        text-align: center;
        margin-top: 80px;
        color: blue;
    }
    span.glyphicon.glyphicon-arrow-right {
        margin-top:120px;
    }
    ul{
        padding:0px;
    }
       ul>li{
       cursor: pointer;
       padding:0;margin:0;list-style:none
  }
       li {list-style-type:none;}


       .member_name{
           color:blue;

     }
       .member_name:hover{
          color:red;
       }
      #toolbar >button{
          margin: 0 2px;
      }

     </style>
{%endblock%}

{% block content %}
     <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>我的审核工单</h5>
               <a  style="float:right" class="btn btn-info btn-add" title="刷新" href="javascript:window.location.reload()"> <span class='glyphicon glyphicon-refresh'/></a>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
                                <div class="btn-group " id="toolbar" role="group">
                                </div>
                                <table id="personal_task_review"  class="table text-nowrap table-hover table-striped" data-mobile-responsive="true">
                                    <thead>
                                         <tr >
                                          <th><input type="checkbox" onclick="SelectAll(this)"></th>
                                             <th>工单类别</th>
                                          <th>工单名称</th>
{#                                          <th>工单描述</th>#}
                                          <th>指派人</th>
                                          <th>开始时间</th>
                                          <th>截止时间</th>
                                          <th>审核对象</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                       {% if query_sets %}
                                           {% for obj in  query_sets%}
                                          <tr>
                                              <td><input type="checkbox"></td>
                                             <td>{% change_to_task_type  obj.type_id  %}</td>
                                              <td >{{ obj.title }}</td>
{#                                              <td  title="{{ obj.content}}">{{ obj.content|slice:"10"}}</td>#}
                                              <td>{% change_to_staff obj.assigner_id %}</td>
                                              <td>{{ obj.start_time|date:"Y-m-d H:i" }}</td>
                                              <td>{{ obj.deadline |date:"Y-m-d "}}</td>
                                              <td>{% bulid_person_review_list  request.user.staff.sid  obj.tmid %}
                                              </td>
                                          </tr>
                                          {% endfor %}
                                      {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>

    <!-- Modal -->
    <!-- delete-->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">警告！</h4>
      </div>
      <div class="modal-body" style="text-align: center;font-size: 20px;">
        您确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button"  id="ensure"  class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>

{%endblock %}

{% block js %}
    <!-- bootstarp star-->
      <script type="text/javascript" src="/static/plugins/raty/jquery.raty.js"></script>
        <script>


      /*
    自执行函数
    */
    $(function () {
         //初始化datatables 改成中文显示
    });

  //初始化bootastarp_table
    $(function () {
        $("#personal_task_review").bootstrapTable({
            toolbar: "#toolbar",
            striped: true,
            sidePagination: "client",
            pagination: true,
            sortable: true,
            sortOrder: "desc",
            pageNumber:1,
            pageSize: 10,
            pageList: [10,15,20, 25],
            search: true,
            strictSearch: false,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "ID",
            showToggle:true,
            cardView: false,
            detailView: false,
            cache: false
        });
    });


      </script>
{% endblock %}