
<script>

    {#function clearAttachment(ths){#}
{#    var tamid=$(ths).parent().find("input[name=tamid]").val();#}
{#    var file_path=$(ths).parent().find("input[name=file_path]").val();#}
{#    $.ajax( {#}
{#        url:"/delete_task_attachment.html",#}
{#        type:"post",#}
{#        data:{"tamid":tamid,"file_path":file_path},#}
{#        dataType:"json",#}
{#        success:function (arg) {#}
{#            if(arg.status){#}
{#                $(ths).parent().parent().parent().remove()#}
{#                att_num-=1#}
{#            }else{#}
{#                alert("删除失败")#}
{#            }#}
{#        }#}
{#    }#}
{#        )#}
{#}#}
</script>