{% extends "content_table_layout.html" %}
{% load  admin_tags %}

{% block css %}

    <style>
    .download_file{
        color:#337ab7 !important
    }
     #content-main{
      overflow :auto
     }
    </style>
{% endblock %}

{% block content %}
    <div class="row" style="width: 100%">
        <div class="col-sm-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                    {% query_task_by_tid task_obj.tid_id as base_task %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="m-b-md">
{#                                    <a href="{%url "task_map_edit" %}?tmid={{ task_obj.tpid }}" class="btn btn-white btn-xs pull-right">编辑指派内容</a>#}
                                    <h3>工单名称：{{ task_obj.title }}</h3>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>工单状态：</dt>
                                    {% change_to_task_status task_obj.status as status %}
                                        <dd><span class="label label-primary">{{ status }}</span>
                                    </dd>

                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="dl-horizontal">
                                    <dt>指派人：</dt>
                                    <dd>{% change_to_staff task_obj.assigner_id %}</dd>
                                    <dt>审核人：</dt>
                                    <dd>{% build_task_period_review_ele  task_obj.tpid%}</dd>
                                    <dt>次序审核：</dt>
                                    <dd><span><i class="fa fa-circle text-warning"></i>{% fetch_task_period_review_follow task_obj.tpid %} </span>
                                    </dd>
                                    <dt>工单分类：</dt>
                                    <dd>{% change_to_task_type  task_obj.type_id  %}
                                    </dd>
                                    <dt>工单周期：</dt>
                                    <dd>{% change_to_task_cycle task_obj.cycle_id %}</dd>
                                    <dt>绩效分类：</dt>
                                    <dd>{% change_to_task_perfomance task_obj.perfor_id%}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-7" id="cluster_info">
                                <dl class="dl-horizontal">

                                    <dt>最后更新：</dt>
                                    <dd>{{ task_obj.last_edit|date:"Y-m-d H:i"}}</dd>
                                    <dt>创建于：</dt>
                                    <dd>{{ task_obj.create_time |date:"Y-m-d H:i"}}</dd>
                                    <dt>截止时间：</dt>
                                    <dd>{{ task_obj.deadline |date:"Y-m-d H:i"}}</dd>
                                    <dt>倒计时：</dt>
                                    <dd>{% build_countdown_time task_obj.deadline  %}天</dd>
                                    <dt>团队成员：</dt>
                                    <dd class="project-people">
                                        {% fetch_task_period_assign_member task_obj.tpid %}
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="wrapper wrapper-content project-manager">
                <h4>工单描述</h4>
                <p class="small" style="text-indent:2em">{{ task_obj.content }}
                </p>
                <h5>项目标签</h5>
                <ul class="tag-list" style="padding: 0">
                    {% build_task_period_tags_list  task_obj.tpid%}
                </ul>
                <br>
                <br>
                <h5>项目附件</h5>
                <ul class="list-unstyled project-files">
                    {% query_task_period_attachment_by_tpid task_obj.tpid as t_attachement %}
                    {% for obj in t_attachement %}
                         <li>
                             <label class="form-label"   >工单附件{{ forloop.counter }}:</label>
                             <a class="download_file" href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                            <label class="form-label" for="task_title"  >附件描述:</label>
                            <span  >{{ obj.description }}</span>
                        </li>
                    {% endfor %}

                </ul>
                 <lable>备注：</lable>
                <span class="small" style="text-indent:2em">{{ task_obj.remark }}
                </span>
                <div class="m-t-md">
{#                    <a href="{%url "map_content" %}?tmid={{task_obj.tmid }}" class="btn btn-xs btn-primary">编辑项目内容</a>#}

                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block js %}
    <script>
        $(document).ready(function(){$("#loading-example-btn").click(function(){btn=$(this);simpleLoad(btn,true);simpleLoad(btn,false)})});function simpleLoad(btn,state){if(state){btn.children().addClass("fa-spin");btn.contents().last().replaceWith(" Loading")}else{setTimeout(function(){btn.children().removeClass("fa-spin");btn.contents().last().replaceWith(" Refresh")},2000)}};
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
{% endblock %}

