{% extends "content_edit_layout.html" %}
{% load  admin_tags %}
{% block css%}
      <!-- bootstarp star -->
    <link rel="stylesheet" href="/static/plugins/raty/jquery.raty.css">
    <style>
    #top > span{
        margin-right: 60px;
    }
    #top > .form-group{
        margin: 0px;
    }
     #footer > .form-group{
        margin: 20px;
    }

      .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
    .minus {
       margin-left: 0px !important;
       color: red;
       position: absolute;
       top: 10px;
       left: -85px;

}
    .plus{
        position: absolute;
        top: 10px;
        left: -85px;
        color: blue
    }
    label{
        font-weight: bold;
    }
    .glyphicon-ok{
        border: 1px solid;
        padding: 1px;
        background-color: #9F9F9F;
        border-radius: 50%;
        color:white;
        position: absolute;
        top:22px;
        right: 38px

    }
    h4{padding-top:10px}
    
    .row > [class*="col-"] {
    margin-bottom: 0px;
}
    .flat-blue a {
    color: #075dec;
}
    a{
        color:green;
    }
    .rating-container .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
    margin-top: -.6em;
    margin-left: 5px;
    margin-right: 0;
    visibility: hidden;
}
    .attach >label{
        {#font-weight: normal;#}
    }
     #content-main{
      overflow :auto
     }
    .collect:hover{
        cursor: pointer;
    }

    </style>
{% endblock %}
{% block content%}
     <div class="wrapper wrapper-content   animated fadeInRight" style="background-color: #f5f5f5 ;height: 100%" >
      <div class="row " style="width: 100% ;background-color: #f5f5f5" >
            <div class="ibox " >
                <div class="col-sm-5" style="border-right: 2px double #9F9F9F" >
                 <div class="wrapper wrapper-content animated fadeInUp" >
                      <h3 style="text-align: center">工作内容</h3>
                        <div class="ibox">
                        <div class="" id="ibox-content">
                            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                            {% if task_submit_record %}
                                {% for item in task_submit_record %}
                                   <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon blue-bg">
                                                <i class="fa fa-file-text"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <label class="form-label" style=" font-size:16px"  >进度评估:</label>
                                             <span style="font-size:16px" >{{ item.completion }}%</span><br>
                                             <label class="form-label" >标题:</label>
                                             <span  >{{ item.title }}</span><br>
                                             <label class="form-label"  >标签:</label>
                                             {% build_record_tags_ele  item.tsid%}<br>
                                              <label class="form-label"  >小结:</label>
                                             <span  >{{ item.summary }}</span><br>
                                             {% query_submit_attachment_by_tsid item.tsid as s_attachment_list%}
                                             {% for obj in s_attachment_list %}
                                                <label class="form-label"   >附件{{ forloop.counter }}:</label>
                                                <a  href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                                                <label class="form-label" for="task_title"  >附件描述:</label>
                                                <span id="task_title" >{{ obj.description }}</span><br>
                                             {% endfor %}
                                              <label class="form-label"  >备注:</label>
                                             <span  >{{ item.remark }}</span><br>
                                               <span class="vertical-date">{{ item.last_edit|date:"Y-m-d " }} <br><small>{{ item.last_edit|date:"H:i:s "}}</small></span>
                                                {% if item.is_collected == 0 %}
                                                    <br>
                                                <span class="collect" style="color:grey; float: right;"
                                                      onclick="collectionSubmit(this,{{ item.tsid }})"><i  class="fa fa-heart"></i>&nbsp;<span>收录</span> </span>
                                                {% else %}
                                                     <span class="collect" style="color:red; float: right;"
                                                     ><i  class="fa fa-heart"></i>&nbsp;<span>已收录</span> </span>
                                                 {% endif %}

                                            </div>

                                        </div>
                             {% endfor %}
                            {% else %}
                             <div class="row">
                                  <h3 style="text-align: center">暂无工作记录</h3>
                         </div>
                            <h5></h5>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                     </div>
                     <div class="wrapper wrapper-content  project-manager">
                     <h3 style="text-align: center">工单</h3>
                          {% query_task_map_by_tmid  task_assign_info.tmid_id  as total_task_obj %}
                           {% query_task_attachment_by_tid total_task_obj.tid_id as t_attachment_list %}
                               <h4 style="color:#1ab394">主工单：</h4>
                                <h4>工单标题</h4>
                                <p class="small" style="text-indent:2em">{{ total_task_obj.title }}
                                </p>
                                 <h4>工单描述</h4>
                                <p class="small" style="text-indent:2em">{{ total_task_obj.content }}
                                </p>
                                  <h5>项目标签</h5>
                                <ul class="tag-list" style="padding: 0">
                                    {% build_task_map_tags_list  total_task_obj.tmid%}
                                </ul>
                                <br>
                                <br>
                                <h5>项目附件</h5>
                                <ul class="list-unstyled project-files">
                                    {% for obj in t_attachment_list %}
                                         <li>
                                             <label class="form-label"   >工单附件{{ forloop.counter }}:</label>
                                             <a class="download_file" style=" color: #23c6c8" href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                                            <label class="form-label" for="task_title"  >附件描述:</label>
                                            <span  >{{ obj.description }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                 <lable>备注：</lable>
                                <span class="small" style="text-indent:2em">{{ total_task_obj.remark }}
                                </span>
                                {% if task_assign_info.title %}
                                    <h4 style="color:#1ab394">个人工单：</h4>
                                    {% query_task_attachment_by_tasid task_assign_info.tasid as p_attachment_list %}
                                   <h4>工单标题</h4>
                                <p class="small" style="text-indent:2em">{{ task_assign_info.title }}
                                </p>
                                 <h4>工单描述</h4>
                                <p class="small" style="text-indent:2em">{{ task_assign_info.content }}
                                </p>
                                  <h5>项目标签</h5>
                                <ul class="tag-list" style="padding: 0">
                                    {% build_task_assign_tags_list  task_assign_info.tasid%}
                                </ul>
                                <br>
                                <br>
                                <h5>项目附件</h5>
                                <ul class="list-unstyled project-files">
                                    {% for obj in p_attachment_list %}
                                         <li>
                                             <label class="form-label"   >工单附件{{ forloop.counter }}:</label>
                                              <a class="download_file" style=" color: #23c6c8" href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                                            <label class="form-label" for="task_title"  >附件描述:</label>
                                            <span  >{{ obj.description }}</span>
                                        </li>
                                    {% endfor %}

                                </ul>
                                 <lable>备注：</lable>
                                <span class="small" style="text-indent:2em">{{ task_assign_info.remark }}
                                </span>
                            {% endif %}
                     </div>
                </div>
                <div class="col-sm-7" >
                  <div class="wrapper wrapper-content animated fadeInUp"  style="padding:0px">
                       <h3 style="text-align: center">审核</h3>
                    <div class="ibox">
                        <div class="" id="ibox-content">
                           <div id="vertical-timeline" style="padding:0px" class="vertical-container light-timeline center-orientation">
                           <div class="vertical-timeline-block" >
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <div class="vertical-timeline-content" style="padding:0">
                                         <div class="row form-horizontal" style="position: relative;margin:5px;background-color: white ">
                                        <div class="col-xs-12"   >
                                             <div class="form-group" style="margin-top: 15px">
                                                <label  class="col-xs-6 col-sm-4 col-md-4   control-label" for="is_complete">状态</label>
                                                <div class=" col-xs-12 col-sm-8 col-md-8 radio "  id="is_complete" >
                                                     <label ><input type="radio" onchange="ChangeComplete()" name="is_complete"
                                     value="1" checked>通过</label>
                                                    <label ><input type="radio"  onchange="ChangeReject()" name="is_complete"
                                     value="0" >驳回</label>
                                                </div>
                                            </div>
                                             <div class="form-group hidden" id="reject_group">
                                            <label for="reason" class="col-xs-6 col-sm-4  control-label">原因</label>
                                              <div class="col-xs-12  col-sm-12 col-md-8">
                                                  <textarea name="title"   class="form-control " id="reason" cols="30" rows="5" placeholder="驳回原因"></textarea>
                                              </div>
                                        </div>
                                             <div id="complete_group">
                                             <div class="form-group">
                                            <label for="comment" class="col-xs-6 col-sm-4 col-md-4  control-label">评语</label>
                                              <div class=" col-xs-12  col-sm-12 col-md-8">
                                                  <textarea name="title" id="comment"  placeholder="评价" cols="30" rows="5"  class="form-control"></textarea>
                                              </div>
                                        </div>
                                            <div class="form-group " >
                                            <label for="evaluate" style="margin-top: 10px;" class="col-xs-6 col-sm-4 col-md-4 control-label">评分</label>
                                              <div id="star"  style="display: inline-block; margin-top:15px" class="col-xs-8  col-sm-16 col-md-8">
                                                  <input type="text" class="hidden"  name="evaluate"   id="evaluate">
    {#                                              <input id="evaluate"  style="max-width: 200px "  name="evaluate" class="rating"  min="0" max="5" step="1" data-size="sm" value="0" >#}
                                              </div>
                                        </div>
                                            </div>
                                             <div class="form-group col-xs-12  col-sm-12 col-md-8">

                                                 <button  id="CompleteSubmit" onclick="CompleteSubmit()" class="btn btn-primary" style="margin:2px;">通过</button>
                                                 <button id="RejectSubmit" onclick="RejectSubmit()" class="btn btn-primary hidden"  style="margin:2px;" >驳回</button>
                                                  <a href="{% url "personal_task_review" %}" class="btn btn-danger"    style="margin:2px;"  >返回</a>
                                           </div>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                {% for item in  task_review_record %}
                                  <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <label class="form-label" style="margin: 3px 0"  >审核记录{{ forloop.revcounter }}</label><br>
                                     {%if  item.is_complete%}
                                         <label class="form-label"  >审核结果:</label>
                                         <span  >通过</span><br>
                                         <label class="form-label" >评语:</label>
                                         <span  >{{ item.comment }}</span><br>
                                         <label class="form-label"  >评分:</label>
                                          <span  >{{ item.evaluate}}颗星</span><br>
                                     {% else %}
                                          <label class="form-label"  >审核结果:</label>
                                         <span  >驳回</span><br>
                                         <label class="form-label" >原因:</label>
                                         <span  >{{ item.reason }}</span><br>
                                     {% endif%}
                                            <span class="vertical-date">
                                         {{ item.create_time|date:"Y-m-d " }} <br>
                                        <small>{{ item.create_time|date:"H:i:s "}}</small>
                                    </span>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                    </div>
                    </div>
                </div>

            </div>
       </div>
    </div>

    </div>
{% endblock %}
{% block js %}
      <!-- bootstarp star-->
      <script type="text/javascript" src="/static/plugins/raty/jquery.raty.js"></script>

    <script>


//自执行函数
   $(function () {
       /*
       $('#evaluate').rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'xs',
            showClear:false,
   });*/
        $('#star').raty({
            {#halfShow:true,#}
            hints: ['1', '2', '3', '4', '5'],
            target: '#evaluate',
            targetKeep: true,
            starHalf: '/static/img/star/star-half.png',
            starOff: '/static/img/star/star-off.png',
            starOn: '/static/img/star/star-on.png',
        })

   })
   function ChangeReject() {
       $("#reject_group").removeClass("hidden")
       $("#complete_group").addClass("hidden")
       $("#RejectSubmit").removeClass("hidden")
       $("#CompleteSubmit").addClass("hidden")


   }
    function ChangeComplete() {
        $("#reject_group").addClass("hidden")
        $("#complete_group").removeClass("hidden")
        $("#RejectSubmit").addClass("hidden")
        $("#CompleteSubmit").removeClass("hidden")
   }
    function RejectSubmit (){
       var is_complete = parseInt($("input[type=radio]:checked").val());
       var reason =$('#reason').val().trim();
       var tasid_id ={{task_assign_info.tasid }};
       var tvid_id = {{ task_review.tvid }}
       $.ajax({
           url:"{% url 'task_review' %}",
           data:{ "tasid_id":tasid_id, "tvid_id":tvid_id,"is_complete":is_complete,"reason":reason},
           type:"post",
           dataType:'json',
           success:function (arg) {
            if (arg.status){
                    window.location.reload()
                }else{
                   layer.alert('审核失败', {icon: 2 ,
                                  time: 2000, //2s后自动关闭
                                    btn: [ '知道了']});
          }
    }
       })
}
    function CompleteSubmit(){
       var is_complete =parseInt($("input[type=radio]:checked").val());
       var comment =$('#comment').val().trim();
       var evaluate=$("#evaluate").val();
       var tasid_id ={{task_assign_info.tasid }};
       var tvid_id = {{ task_review.tvid }}
            //是否评分
        if (evaluate==""){
             layer.alert('请评价一个星级', {icon: 6 ,
              time: 2000, //2s后自动关闭
                btn: [ '知道了']}
                );
             return false
        }
       $.ajax({
           url:"{% url 'task_review' %}",
           data:{ "tasid_id":tasid_id,"tvid_id":tvid_id,"comment":comment,"is_complete":is_complete,"evaluate":evaluate},
           type:"post",
           dataType:'json',
           success:function (arg) {
          if (arg.status){
                    window.location.reload()
                }else{
                   layer.alert('审核失败', {icon: 2 ,
                                  time: 2000, //2s后自动关闭
                                    btn: [ '知道了']});
          }
       }
       })
    }
    function collectionSubmit(ths,tsid) {
         $.ajax({
           url:"{% url 'collect' %}",
           data:{ "tsid":tsid},
           type:"get",
           dataType:'json',
           success:function (arg) {
          if (arg.status){
                    console.log(arg.status)
                    $(ths).css('color','red')
                    $(ths).find("span").text("已收录")
                }else{
                   layer.alert('收录失败', {icon: 2 ,
                                  time: 2000, //2s后自动关闭
                                    btn: [ '知道了']});
          }
       }
       })
    }
    </script>
{% endblock %}