{% extends "layout.html" %}
{% load admin_tags %}
{% block css %}
    <style>
     .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
    .form-group{
         margin-top:30px;
    }
    </style>

{%endblock %}
{% block conent %}

      <div class="row form-horizontal" style="position: relative;margin-top: 30px">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name" class="col-xs-2 control-label">分类名称：</label>
                      <div class="col-xs-4">
                          <input name="name"  class="form-control"  id="name" placeholder="分类名称">
                        </input>
                      </div>
                </div>
                  <div class="form-group col-xs-6">
            {% if pid %}
                  <button  onclick="Edit()" class="btn btn-primary" style="float: right;">修改</button>
            {% else %}
                <button  onclick="Submit()" class="btn btn-primary" style="float: right;">创建</button>
            {% endif %}
            <a href="{% url "task_sort_list" %}" class="btn btn-danger"  style="float:right;margin-right: 50px;">返回</a>
        </div>
            </div>
    </div>

{% endblock %}
{% block js%}
     <script>
       //自执行函数
  $(function () {

      if({{ tpid }}){
          DataInit()//初始化化数据
      }
  })
  function DataInit() {
        $("#name").val("{{ task_sort_obj.name }}");
}

     function Submit() {
        var name = $("#name").val().trim();
        $.ajax({
                url: '{% url "task_sort_edit"%}',
                type: "post",
                data:  {"name":name,
        },
            dataType: "json",
            success: function (arg) {
                if (arg.status) {
                    alert("添加成功");
                    window.location.href='{% url "task_sort_list" %}';
                } else {
                    alert(arg.message)
                }
            }
        })
    }

    function Edit() {
        var name = $("#name").val().trim();
        $.ajax({
                url: "{% url "task_sort_edit"%}",
                type: "post",
                data:  {
                    "tpid":{{ tpid }},
                    "name":name,
        },
            dataType: "json",
            success: function (arg) {
                if (arg.status) {
                    alert("修改成功")
                    window.location.reload()
                } else {
                    alert(arg.message)
                }
            }
        })
    }
    </script>
{% endblock %}