{% extends "layout.html" %}
{% load  admin_tags %}
{% block css%}
    <style>
    #top > span{
        margin-right: 60px;
    }
    #top > .form-group{
        margin: 0px;
    }
     #footer > .form-group{
        margin: 20px;
    }

      .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
    .minus {
       margin-left: 0px !important;
       color: red;
       position: absolute;
       top: 10px;
       left: -85px;

}
    .plus{
        position: absolute;
        top: 10px;
        left: -85px;
        color: blue
    }
    label{
        font-weight: bold;
    }
    .glyphicon-ok{
        border: 1px solid;
        padding: 1px;
        background-color: #9F9F9F;
        border-radius: 50%;
        color:white;
        position: absolute;
        top:22px;
        right: 38px

    }
    h4{padding-top:10px}
    button ,.btn{
        margin-top: 0px !important;
    }
    .row > [class*="col-"] {
    margin-bottom: 0px;
}
    .flat-blue a {
    color: #075dec;
}
     #content-main{
      overflow :auto
     }
    </style>
{% endblock %}
{% block content%}
    <div class="wrapper wrapper-content   animated fadeInRight" >
      <div class="row " style="width: 100%" >
            <div class="ibox " >
                <div class="col-sm-6" style="border-right: 2px double #9F9F9F" >
                 <div class="wrapper wrapper-content animated fadeInUp" >
                      <h3 style="text-align: center">审核内容</h3>
                        <div class="ibox">
                        <div class="" id="ibox-content">
                            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                            {% if task_submit_record %}
                                {% for item in task_submit_record %}
                                   <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon blue-bg">
                                                <i class="fa fa-file-text"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <label class="form-label" style=" font-size:16px"  >进度评估:</label>
                                             <span style="font-size:16px" >{{ item.completion }}%</span><br>
                                             <label class="form-label" >标题:</label>
                                             <span  >{{ item.title }}</span><br>
                                             <label class="form-label"  >标签:</label>
                                             {% build_record_tags_ele  item.tsid%}<br>
                                              <label class="form-label"  >小结:</label>
                                             <span  >{{ item.summary }}</span><br>
                                             {% query_submit_attachment_by_tsid item.tsid as s_attachment_list%}
                                             {% for obj in s_attachment_list %}
                                                <label class="form-label"   >附件{{ forloop.counter }}:</label>
                                                <a  href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                                                <label class="form-label" for="task_title"  >附件描述:</label>
                                                <span id="task_title" >{{ obj.description }}</span><br>
                                             {% endfor %}
                                              <label class="form-label"  >备注:</label>
                                             <span  >{{ item.remark }}</span><br>
                                               <span class="vertical-date">{{ item.last_edit|date:"Y-m-d " }} <br><small>{{ item.last_edit|date:"H:i:s "}}</small></span>
                                            </div>
                                        </div>
                             {% endfor %}
                            {% else %}
                             <div class="row">
                                  <h3 style="text-align: center">暂无工作记录</h3>
                         </div>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                     </div>
                     <div class="wrapper wrapper-content  project-manager" style="width:80%">
                     <h3 style="text-align: center">工单</h3>
                          {% query_task_map_by_tmid  task_assign_info.tmid_id  as total_task_obj %}
                           {% query_task_attachment_by_tid total_task_obj.tid_id as t_attachment_list %}
                               <h4 style="color:#1ab394">主任务：</h4>
                                <h4>任务标题</h4>
                                <p class="small" style="text-indent:2em">{{ total_task_obj.title }}
                                </p>
                                 <h4>任务描述</h4>
                                <p class="small" style="text-indent:2em">{{ total_task_obj.content }}
                                </p>
                                  <h5>项目标签</h5>
                                <ul class="tag-list" style="padding: 0">
                                    {% build_task_map_tags_list  total_task_obj.tmid%}
                                </ul>
                                <br>
                                <br>
                                <h5>项目附件</h5>
                                <ul class="list-unstyled project-files">
                                    {% for obj in t_attachment_list %}
                                         <li>
                                             <label class="form-label"   >任务附件{{ forloop.counter }}:</label>
                                             <a class="download_file" style=" color: #23c6c8" href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                                            <label class="form-label" for="task_title"  >附件描述:</label>
                                            <span  >{{ obj.description }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                 <lable>备注：</lable>
                                <span class="small" style="text-indent:2em">{{ total_task_obj.remark }}
                                </span>
                                {% if task_assign_info.title %}
                                    <h4 style="color:#1ab394">个人任务：</h4>
                                    {% query_task_attachment_by_tasid task_assign_info.tasid as p_attachment_list %}
                                   <h4>任务标题</h4>
                                <p class="small" style="text-indent:2em">{{ task_assign_info.title }}
                                </p>
                                 <h4>任务描述</h4>
                                <p class="small" style="text-indent:2em">{{ task_assign_info.content }}
                                </p>
                                  <h5>项目标签</h5>
                                <ul class="tag-list" style="padding: 0">
                                    {% build_task_assign_tags_list  task_assign_info.tasid%}
                                </ul>
                                <br>
                                <br>
                                <h5>项目附件</h5>
                                <ul class="list-unstyled project-files">
                                    {% for obj in p_attachment_list %}
                                         <li>
                                             <label class="form-label"   >任务附件{{ forloop.counter }}:</label>
                                              <a class="download_file" style=" color: #23c6c8" href="{% url "attachment_download" %}?url={{ obj.attachment }}&name={{ obj.name }}">{{ obj.name }}</a><br>
                                            <label class="form-label" for="task_title"  >附件描述:</label>
                                            <span  >{{ obj.description }}</span>
                                        </li>
                                    {% endfor %}

                                </ul>
                                 <lable>备注：</lable>
                                <span class="small" style="text-indent:2em">{{ task_assign_info.remark }}
                                </span>
                            {% endif %}
                     </div>
                </div>
                <div class="col-sm-6" >
                  <div class="wrapper wrapper-content animated fadeInUp">
                       <h3 style="text-align: center">审核记录</h3>
                    <div class="ibox">
                        <div class="" id="ibox-content">
                        {% if reviewers_record_list ==  "[]"%}
                             {%  for task_review_record in reviewers_record_list %}
                              {% if task_review_record.0 %}
                            <div class="row">
                             <div class="col-xs-4">
                                  <h4 style="text-align: center;">审核人:{% change_to_task_reviewer task_review_record.0.tvid_id %}</h4>
                             </div>
                             <div class="col-xs-8" ></div>
                         </div>
                           {% endif %}
                          <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                            {% for item in  task_review_record %}
                              <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon navy-bg">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <label class="form-label" style="margin: 3px 0"  >审核记录{{ forloop.revcounter }}</label><br>
                                 {%if  item.is_complete%}
                                     <label class="form-label"  >审核结果:</label>
                                     <span  >通过</span><br>
                                     <label class="form-label" >评语:</label>
                                     <span  >{{ item.comment }}</span><br>
                                     <label class="form-label"  >评分:</label>
                                      <span  >{{ item.evaluate}}颗星</span><br>
                                 {% else %}
                                      <label class="form-label"  >审核结果:</label>
                                     <span  >驳回</span><br>
                                     <label class="form-label" >原因:</label>
                                     <span  >{{ item.reason }}</span><br>
                                 {% endif%}
                                        <span class="vertical-date">
                                     {{ item.create_time|date:"Y-m-d " }} <br>
                                    <small>{{ item.create_time|date:"H:i:s "}}</small>
                                </span>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                          {%endfor %}
                        {% else %}
                              <div class="row">
                                  <h3 style="text-align: center;margin-top:35px">暂无审核记录</h3>
                         </div>

                        {% endif %}

                    </div>
                    </div>
                </div>

            </div>
       </div>
    </div>

    </div>

{% endblock %}
{% block js %}
    <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script>
   {#    预防csrf#}
    var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    //字符串格式化
    String.prototype.format=function()
    {
      if(arguments.length==0) return this;
      for(var s=this, i=0; i<arguments.length; i++)
        s=s.replace(new RegExp("\\{"+i+"\\}","g"), arguments[i]);
      return s;
    };

//自执行函数
   $(function () {
       $('#evaluate').rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'sm',
            showClear:false,
   });
   })

    function ShowMore(ths) {
       if ($(ths).next().is(":hidden")){
            $(ths).nextAll().removeClass('hidden')
            $(ths).find("i").removeClass("fa fa-chevron-down")
            $(ths).find("i").addClass("fa fa-chevron-up")
       }else {
           $(ths).nextAll().addClass('hidden')
           $(ths).find("i").removeClass("fa fa-chevron-up")
           $(ths).find("i").addClass("fa fa-chevron-down")
       }
    }

    </script>
{% endblock %}