{% extends "layout.html" %}
{% load  admin_tags %}

{% block css  %}
    <style>
     .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }

    .minus  {
        cursor: pointer;
       margin-left: 0px !important;
       color: red;
       position: absolute;
       top: 10px;
       left: -85px;

}
    .plus{
         cursor: pointer;
        position: absolute;
        top: 10px;
        left: -85px;
        color: blue
    }
    .select-box{
          top:5px;
          height: 200px !important;
          width: 100%;
        border-radius: 3px;
      }
    span.glyphicon.glyphicon-arrow-left, span.glyphicon.glyphicon-arrow-right {
        position: absolute;
        right: -28px;
        text-align: center;
        margin-top: 50px;
        color: blue;
        padding:20px;
    }
    span.glyphicon.glyphicon-arrow-left {
        margin-top:120px;
    }
     .buttons{
        overflow:hidden
    }
    .btn-outline-secondary{
        padding: 0px;
        width: 48%;
        border:0px;
    ;
    }
    input[type=checkbox]{
         cursor: pointer;

    }
    .select2-selection--multiple{
        visibility: hidden;
    }
     #content-main{
      overflow :auto
     }

    </style>

{% endblock %}
{% block content %}
        <div class="wrapper wrapper-content container animated fadeInRight" >
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>任务指派 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项1</a>
                                </li>
                                <li><a href="#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    <div class="row form-horizontal" style="position: relative;margin-top: 30px">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="task_name" class="col-xs-2 control-label">任务名称：</label>
                              <div class="col-xs-6">
                                  {% if edit == 0 %}
                                       {% for obj in query_sets %}
                                       <p style="padding-top:7px">{{ forloop.counter }}.{{ obj.title }}</p>
                                  {% endfor %}
                                  {% else %}
                                       {% query_task_by_tid query_sets.tid_id  as base_task%}
                                       <p style="padding-top:7px">{{ base_task.title }}</p>
                                  {% endif %}

                              </div>
                        </div>
                        <div class="form-group">
                            <label for="task_name" class="col-xs-2 control-label">任务方式：</label>
                              <div class="col-xs-6">
                              {% if edit  %}
                                  <select name="team" class="form-control "  style="width: 54%" id="team" data-live-search="true" >
                                      <option value="0">个人任务</option>
                                      <option value="1">组队任务</option>
                                  </select>
                              {% else %}
                                   {% if team == "1" %}
                                        <p style="padding-top:7px">组队任务</p>
                                   {% else %}
                                          <p style="padding-top:7px">个人任务</p>
                                   {% endif %}
                              {% endif %}
                              </div>
                        </div>
                        <div class="form-group">
                            <label for="department" class="control-label col-xs-2">指派对象：</label>
                           <div  class="col-xs-5">
                            <select name="department" id="department"  class="form-control  col-xs-8"  style="width: 65%"  data-live-search="true" onchange="FetchStaff2Assign(this)">
                                <option value=0 >------</option>
                                {% build_department_ele %}
                            </select>
                           </div>
                        </div>
                        <div class="form-group" >
                            <label for="task_type" class="control-label col-xs-2"></label>
                            <div class="col-xs-8 " style="padding:0px; ">
                                <div class="col-xs-10 selector-filter" >
                                    <select  id="assigned" multiple   name="staff_old"  size="10"   class=" select-box ">
                                    {% if edit %}
                                         {% for obj in task_assign_info %}
                                         <option value="{{ obj.member_id_id }}"   selected="selected" tasid="{{ obj.tasid}}">{% change_to_staff obj.member_id_id %}  </option>

                                         {% endfor %}
                                     {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attribute" class="control-label col-xs-2">绩效分类：</label>
                            <div class="col-xs-6">
                                <select  name="attribute" class="form-control" id="attribute" >
                                    {% build_performence_ele %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="task_cycle" class="control-label col-xs-2">任务周期：</label>
                            <div class="col-xs-6">
                                <select  name="tcid" class="form-control" id="task_cycle" >
                                    {% build_task_cycle_ele %}
                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="deadline" class="control-label col-xs-2">起始日期：</label>
                            <div class="col-xs-6">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deadline" class="control-label col-xs-2">截止日期：</label>
                            <div class="col-xs-6">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="department" class="control-label col-xs-2">选择审核人：</label>
                                   <div  class="col-xs-5">
                                    <select name="department" id="department"  class="form-control  col-xs-8"  style="width: 65%" data-live-search="true" onchange="FetchStaff2Review(this)">
                                        <option value=0 >------</option>
                                        {% build_department_ele %}
                                    </select>
                                <label for="follow" class="control-label " style="margin-left:10px">次序审核：</label>
                                <!--查看审核人是否有序-->
                                {%if edit %}
                                    {% if task_review_info.first.follow %}
                                         <input type="checkbox" name="follow" checked="checked" id ="follow">
                                        {%else %}
                                         <input type="checkbox" name="follow"   id ="follow">
                                    {% endif %}
                                {% else %}
                                     <input type="checkbox" name="follow"   id ="follow">
                                {% endif %}
                                   </div>
                        </div>
                        <div class="form-group" >
                            <label for="" class="control-label col-xs-2"></label>
                            <div class="col-xs-8 " style="padding:0px; ">
                                <div class="col-xs-10 selector-filter" >
                                    <select  id="reviewer" multiple   name="staff_old"  size="10"   class=" select-box ">
                                    {%if edit %}
                                         {% for obj in task_review_info %}
                                         <option value="{{ obj.sid_id }}"   selected="selected" tvid="{{ obj.tvid}}">{% change_to_staff obj.sid_id %}  </option>
                                         {% endfor %}
                                     {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="col-xs-2 control-label">备注：</label>
                              <div class="col-xs-6">
                                  <textarea name="remark"  class="form-control"  id="remark" placeholder="备注">
                                </textarea>
                            </div>
                        </div>
                      <div class="hr-line-dashed"></div>
                    <div class="row" id="content_footer" >
                        <div class="form-actions well well-sm clearfix ">
                        {% if edit %}
                          <button type="submit" onclick="Edit(1)" class="default btn btn-primary hide-xs" name="_save" data-loading-text="指派中.."><i class="fa fa-save"></i> 保存并返回</button>
                            <button type="submit"  onclick="Edit(2)" style="background-color: #0ba7a9" class="btn btn-info" data-loading-text="保存并继续编辑.." name="_continue"><i class="fa fa-save"></i> 保存并继续编辑</button>
                            <a href="{% url "task_assign_list" %}"  class="default btn btn-info hide-xs" ><i class="fa fa-reply"></i> 返回</a>
                        {% else %}
                             <button type="submit" onclick="Submit(1)"  class="default btn btn-primary hide-xs" name="_save" data-loading-text="保存中.."><i class="fa fa-save"></i> 指派并返回</button>
                            <button type="submit"  onclick="Submit(2)" style="background-color: #0ba7a9" class="btn btn-info" data-loading-text="保存并继续编辑.." name="_continue"><i class="fa fa-save"></i> 指派并继续编辑</button>
                            <a href="{% url "task_assign_center" %}"  class="default btn btn-info hide-xs" ><i class="fa fa-reply"></i> 返回</a>
                        {% endif %}
                            <div class="alert alert-danger hide " onclick="Hidden(this)" style="display:inline-block ;padding: 7px 12px;margin: 0px">
                                <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </span>
                                <span id="error_msg" style="font-size: 14px;"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block js %}
{#    <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>#}
{#    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>#}
    <script src="/static/js/plugins/datepicker/bootstrap-datetimepicker.js"> </script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    //字符串格式化
    String.prototype.format=function()
    {
      if(arguments.length==0) return this;
      for(var s=this, i=0; i<arguments.length; i++)
        s = s.replace(new RegExp("\\{"+i+"\\}","g"), arguments[i]);
      return s;
    };
    /*
    自执行函数
    */
    $(function () {
            //初始化指派双列表框
            DualListboxAssign = $('#assigned').bootstrapDualListbox({
            nonSelectedListLabel: '未选择',
            selectedListLabel: '已选择',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,
            infoTextEmpty: "",
            nonSelectedFilter: '',
                infoText:"总人数:{0}"
        });
             //初始化审核双列表框
            DualListboxReview = $('#reviewer').bootstrapDualListbox({
            nonSelectedListLabel: '未选择',
            selectedListLabel: '已选择',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,
            infoTextEmpty: "",
            nonSelectedFilter: '',
                infoText:"总人数:{0}"
        });
    });

      /*
    自执行函数
    */
    $(function () {
        //如果tid不为0，则为创建
        if ({{ edit }}){
           InitData()//初始化数据
        }
        else {

        }
    });
     //初始化数据
function InitData() {
        $("#remark").val("{{ query_sets.remark }}");
        $("#task_type").val({{ query_sets.type_id }})
        $("#team").val({{ query_sets.team }});
        $("#attribute").val({{ query_sets.perfor_id }});
        $("#task_cycle").val({{ query_sets.cycle_id }});
        $("#datetimepicker1").find("input").val( "{{ query_sets.start_time |date:'Y-m-d H:i:s'}}");
        $("#datetimepicker2").find("input").val("{{ query_sets.deadline |date:'Y-m-d H:i:s'}}");
    }

    //设置日期时间控件
$(function () {
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        locale: moment.locale('zh-cn')
    });
    $('#datetimepicker2').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        locale: moment.locale('zh-cn')
    });
});


// 构造任务列表



//获取指派对象
function SelectAssigner(){
        Assigner=new Array();
        DualListboxAssign.children("option:selected").each(function () {
            var reviewer=$(this).val()
            var reviewer={"member_id_id":reviewer};
            Assigner.push(reviewer)
        });
        if (Assigner.length>0){
             Assigner =JSON.stringify(Assigner)//对象转化成json
        } else{
            Assigner=''
        }
        return Assigner
    }

//获取审核人
function SelectReviewer(){
        reviewers=new Array();
        var i=0
        DualListboxReview.children("option:selected").each(function () {
            i +=1
            var reviewer=$(this).val()
            var isfollow=$('#follow').prop("checked")
            var review={"sid_id":reviewer,"follow":''};
            if (isfollow){
                review.follow=i
                reviewers.push(review)
            }else{
               review.follow=0
                reviewers.push(review)
            }
        });
        // 检查是否选择审核人
        if (reviewers.length>0){
            reviewers =JSON.stringify(reviewers)//对象转化成json
        }else {
            reviewers=''
        }

        return reviewers
    }

//修改数据时获取审核人
function GetReviewer(){
        var reviewers_list=new Array();
         {%if edit %}
                var tmid ={{ query_sets.tmid }}
            {% else %}
                var tmid=1
            {% endif %}
         var i=0
          DualListboxReview.children("option:selected").each(function () {
            i +=1
            var reviewer=$(this).val()
            var tvid=$(this).attr("tvid")
            var isfollow=$('#follow').prop("checked")
            var review= {"sid_id":reviewer,"follow":'','tmid_id':tmid};
            if (tvid){
                review=$.extend(review,{"tvid":tvid})
            }
            if (isfollow){
                review.follow=i
                reviewers_list.push(review)
            }else{
                review.follow=0
                reviewers_list.push(review)
            }
        });
        reviewers_list =JSON.stringify(reviewers_list)//对象转化成json
        return reviewers_list
    }
    //修改数据时获取指派对象
function GetAssigner(){
        var Assigner_list=new Array();
            {%if edit %}
                var tmid ={{query_sets.tmid }}
            {% else %}
                var tmid=1
            {% endif %}
          DualListboxAssign.children("option:selected").each(function () {

            var Assigner=$(this).val()
            var tasid=$(this).attr("tasid")
            var Assign= {"member_id_id":Assigner,'tmid_id':tmid}
            if (tasid){
                var Assign=$.extend(Assign,{"tasid":tasid})
            }
              Assigner_list.push(Assign)
        });
        Assigner_list =JSON.stringify(Assigner_list)//对象转化成json
        return Assigner_list
    }


//根据部门获取相应的员工
function FetchStaff2Assign(ths) {
    var dpid=$(ths).val();
    //清空select的内容
     DualListboxAssign.children("option:not(:selected)").remove();
     DualListboxAssign.bootstrapDualListbox('refresh', true);
    {#var opt_eles="{% build_reviewer_ele dpid %}"#}
    {#$("#id_staff_from").append(opt_eles)#}
    $.ajax({
        url:"{% url "department_staff" %}",
        type:'get',
        data:{"dpid":dpid},
        dataType:'json',
        async: true,//是否异步
        success: function (arg) {
	    var objs = JSON.parse(arg.data);
	    $(objs).each(function () {
		var o = document.createElement("option");
		o.value = this['pk'];
		o.text = this['fields']['name'];
		 DualListboxAssign.append(o);
		 DualListboxAssign.bootstrapDualListbox('refresh', true);
	  });
	},
        error: function (arg) {
          alert(arg.message);
        },
    });
}


//根据部门获取相应的员工
function FetchStaff2Review(ths) {
    var dpid=$(ths).val();
    //清空select的内容
     DualListboxReview.children("option:not(:selected)").remove();
     DualListboxReview.bootstrapDualListbox('refresh', true);
    {#var opt_eles="{% build_reviewer_ele dpid %}"#}
    {#$("#id_staff_from").append(opt_eles)#}
    $.ajax({
        url:"{% url "department_staff" %}",
        type:'get',
        data:{"dpid":dpid},
        dataType:'json',
        async: true,//是否异步
        success: function (arg) {
	    var objs = JSON.parse(arg.data);
	    $(objs).each(function () {
		var o = document.createElement("option");
		o.value = this['pk'];
		o.text = this['fields']['name'];
		 DualListboxReview.append(o);
		 DualListboxReview.bootstrapDualListbox('refresh', true);
	  });
	},
        error: function (arg) {
          alert(arg.message);
        },
    });
}

//创建
function Submit(cons) {
     var $msg = $('#error_msg');
     $msg.parent().addClass('hide');
    var remark = $("#remark").val().trim();
        {% if edit %}
            var tids = 0
            var team = 0
        {% else %}
            var tids="{{ tids }}"
            var team ={{ team }}
        {% endif %}
        var assigner_id = {{  request.user.staff.sid }};
        var attribute = $("#attribute").val();
        var cycle_id = $("#task_cycle").val();
        var start_time = $("#datetimepicker1").find("input").val();
        var deadline = $("#datetimepicker2").find("input").val();
        $.ajax({
                url: "{%url "task_assign" %} ",
                type: "POST",
                data:  {
                     "tids":tids,
                     "assigner_id": assigner_id,//指派人
                     "perfor_id": attribute,
                     "cycle_id": cycle_id,
                      "team":team,
                     "start_time": start_time,
                     "deadline": deadline,
                     "remark":remark,
                     "reviewers":SelectReviewer(),
                     "assigners":SelectAssigner(),
        },
            dataType: "json",
            success: function (arg) {
                if (arg.status) {
                    if (cons==1){
                             window.location.href='{% url "task_assign_center" %}';
                        }else{
                              window.location.href='{% url "task_map_edit" %}?tmid={0}'.format(arg.data);
                        }
                } else {
                    $msg.parent().removeClass('hide');
                    $msg.text(arg.message);
                }
            }
        })
    }
    //修改
function Edit(cons) {
        var $msg = $('#error_msg');
        $msg.parent().addClass('hide');
        var team=$("#team").val().trim();
        var type_id =$("#task_type").val();
        var perfor_id = $("#attribute").val();
        var cycle_id = $("#task_cycle").val();
        var start_time = $("#datetimepicker1").find("input").val();
        var deadline = $("#datetimepicker2").find("input").val();
        var remark = $("#remark").val().trim();
        {% if edit  %}
            var tmid={{ query_sets.tmid }}
        {% else %}
             var tmid = 1
        {%endif%}
        $.ajax({
                url: "{% url "task_map_edit"%}",
                type: "post",
                data:  {
                    "tmid":tmid,
                    "team":team,
                    "remark":remark,
                    "perfor_id": perfor_id,
                    "cycle_id": cycle_id,
                    "start_time": start_time,
                    "deadline": deadline,
                    "type_id":type_id,
                    "assigners":GetAssigner(),
                    "reviewers":GetReviewer(),
        },
            dataType: "json",
            success: function (arg) {
                if (arg.status) {
                    if (cons==1){
                             window.location.href='{% url "task_assign_center" %}';
                        }else{
                              window.location.href='{% url "task_map_edit" %}?tmid={0}'.format(arg.data);
                        }
                } else {
                     $msg.parent().removeClass('hide');
                    $msg.text(arg.message);
                }
            }
        })
    }

 </script>
{% endblock %}