{% extends "layout.html" %}
{% load  admin_tags %}

{% block css  %}
     <style>
        .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }

       span.glyphicon.glyphicon-arrow-left, span.glyphicon.glyphicon-arrow-right {
            position: absolute;
            right: -28px;
            text-align: center;
            margin-top: 50px;
            color: blue;
           padding:20px;
    }
    span.glyphicon.glyphicon-arrow-left {
        margin-top:120px;
    }
      .buttons{
        overflow:hidden
    }
    .btn-outline-secondary{
        padding: 0px;
        width: 48%;
        border:0px;
    ;
    }
    .select2-selection--multiple {
        visibility: hidden;
    }
      #toolbar >.btn{
          margin: 0 2px;
      }

     </style>
{%endblock%}

{% block content %}
     <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>任务指派中心</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">选项1</a>
                        </li>
                        <li><a href="#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">

                            <div class="example">
                                <div class="btn-group hidden-xs" id="toolbar" role="group">
                                    <a href="{% url "publish_task" %}" class ="btn btn-primary">添加任务</a>
                                    <button  onclick="TaskAssign(0)"  class="btn btn-info" >任务指派</button>
                                    <button  onclick="TaskAssign(1)" class="btn btn-primary" >组队指派</button>
                                    <button  onclick="MultiDelete()" class="btn btn-danger">删除任务</button>
                                </div>
                                <table id="task_assign_center"  class="table text-nowrap table-hover table-striped" data-mobile-responsive="true">
                                    <thead>
                                        <tr >
                                             <th ><input type="checkbox" onclick="SelectAll(this)"></th>
                                              <th>ID</th>
                                              <th>任务名称</th>
                                              <th>任务描述</th>
                                              <th>任务类别</th>
                                              <th>发布人</th>
                                              <th>创建时间</th>
                                              <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for obj in  query_sets%}
                                          <tr>
                                              <td><input type="checkbox"></td>
                                              <td name="tid"> <a  href="{%url "task_base_detail" %}?tid={{ obj.tid }}">{{ obj.tid }}</a></td>
                                              <td><a   href="{%url "task_base_detail" %}?tid={{ obj.tid }}">{{ obj.title }}</a></td>
                                              <td>{{ obj.content|slice:"20"}}</td>
                                              <td>{% change_to_task_type  obj.type_id  %}</td>
                                              <td>{% change_to_staff obj.issuer_id %}</td>
                                              <td>{{ obj.create_time|date:"Y-m-d H:i" }}</td>
                                                <td>
                                                    <a  href="{%url "task_base_detail" %}?tid={{ obj.tid }}" class="btn btn-info"  >详请</a>
                                                   <a  href="{%url "task_edit" %}?tid={{ obj.tid }}" class="btn btn-primary" >编辑</a>
                                              </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>

{#<!-- task_assign-->#}
{#<!-- Modal -->#}
{#<div class="modal fade"  id="task_assign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
{#  <div class="modal-dialog" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#        <h4 class="modal-title" id="myModalLabel">任务指派</h4>#}
{#      </div>#}
{#      <div class="modal-body" style="height: 500px; width: 500px;">#}
{#         <div class="row form-horizontal" style="position: relative;margin-top: 30px">#}
{#            <div class="col-xs-12">#}
{#              <div class="form-group ">#}
{#                    <label for=" department"  class="control-label col-xs-2">选择员工：</label>#}
{#                    <div class="control-xs-6 " style="margin:8px ;">#}
{#                        <lable  for="department"  style="margin-left:15px" class="control-label control-xs-2  ">部门:</lable>#}
{#                    <select tabindex="1" style="display:inline; width: 180px;margin-left: 15px"  id="department" name="department" class="form-control "  onchange="FetchStaff(this)">#}
{#                    {% build_department_ele %}#}
{#                    </select>#}
{#                    </div>#}
{#                </div>#}
{#              <div class="form-group" >#}
{#                    <label for="task_type" class="control-label col-xs-2"></label>#}
{#                    <div class="col-xs-10 "  style="padding:0px;  ">#}
{#                        <div class="col-xs-12 selector-filter" >#}
{#                            <select  id="id_staff_from" multiple   name="staff_old"  size="10"   class=" select-box ">#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#         </div>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
{#        <button type="button" id="submit" onclick="AssignSubmit()" class="btn btn-primary">指派</button>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
         <!-- Modal -->

    <!-- delete-->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">警告！</h4>
      </div>
      <div class="modal-body" style="text-align: center;font-size: 20px;">
        您确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="ensure"  class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>


{%endblock %}

{% block js %}
        <script src="/static/js/jquery.cookie.js"></script>
        <script>
        //预防csrf
            var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        //字符串格式化
String.prototype.format=function()
{
  if(arguments.length==0) return this;
  for(var s=this, i=0; i<arguments.length; i++)
    s=s.replace(new RegExp("\\{"+i+"\\}","g"), arguments[i]);
  return s;
};

  /*
    自执行函数
    */

    //初始化bootastarp_table
    $(function () {
        $("#task_assign_center").bootstrapTable({
            toolbar: "#toolbar",
            striped: true,
            sidePagination: "client",
            pagination: true,
            sortable: true,
            sortOrder: "desc",
            pageNumber:1,
            pageSize: 15,
            pageList: [10, 25],
            search: true,
            strictSearch: false,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "ID",
            showToggle:true,
            cardView: false,
            detailView: false,
            cache: false
        });
    });




 function  SelectAll(ths) {
        //判断是否选中
        ischecked=$(ths).is(":checked");
        //如果选中则全选中,否则取消选中
        $(ths).parent().parent().parent().parent().siblings().find("input:checkbox").prop("checked",ischecked);
    }
//批量删除
    function MultiDelete() {
        $("#delete_modal").modal("show");//显示模态框
        var ids="";
        $("tbody input:checkbox:checked").each(function () {
            id = $(this).parent().next().text();
            if (id){
                id+="|";
                ids+=id;
            }
        });
        $("#ensure").click(function () {
            $("#delete_modal").hide();
              $.ajax({
            url:"{% url "task_delete" %}",
            data:{"ids":ids},
            type:"get",
            dataType:"JSON",
            success:function (arg) {
                if (arg.status){
                   alert("删除成功");
                    window.location.reload()
                }else{
                    alert("删除失败")
                    window.location.reload()
                }
            }
        })
        });
    }
    // 选择任务
        function SelectTask() {
         var tids=new Array();
         $("tbody input:checkbox:checked").each(function () {
            id = $(this).parent().next().text();
            tids.push(id)
            })
            tids= tids.join("|")
            console.log(tids)
        return tids
    }
    //任务指派
    function TaskAssign(team) {
       //是否有选中任务
     var is_checked=$("tbody input:checkbox:checked").length
        if (is_checked){
            var tids=SelectTask()
            window.location.href="{% url 'task_assign' %}?tids={0}&team={1}".format(tids,team)
        } else{
         alert("至少应选中一个任务")
        }
    }


        //触发指派模态框
function ShowAssign() {
        //是否有选中任务
     var is_checked=$("tbody input:checkbox:checked").length
     console.log("is_checked",is_checked)
     if (is_checked){
         $('#task_assign').modal('show')
        }else{
         alert("至少应选中一个任务")
     }
}

function TeamAssignShow() {
    var is_checked=$("tbody input:checkbox:checked").length
    if(is_checked){
         if(is_checked==1){
              $('#task_assign').modal('show')
               $("#submit").attr("onclick","TeamAssingSubmit()")
         }else{
             alert("组队任务不能选择多个任务")
         }
    }else{
         alert("请选择一个任务")
    }
}


    function SelectMember(){
        //构造任务指派dict
        var reviewers=new Array();
        //遍历员工
        DualListbox.children("option:selected").each(function () {
            var member = $(this).val()
            var review = {"member_id_id": member};
            //遍历任务,添加任务ID
            $("tbody input:checkbox:checked").each(function () {
            id = $(this).parent().next().text();
            review.tid_id=id;
            reviewers.push(review)
            })
        })
        reviewers =JSON.stringify(reviewers) //对象转化成json
        return reviewers
    }


{#function AssignSubmit() {#}
{#    $.ajax({#}
{#        url:"{% url 'task_mutil_assign' %} ",#}
{#        data:{"task_assign":SelectMember()},#}
{#        type:"post",#}
{#        dataType:"json",#}
{#        success:function (arg) {#}
{#            if (arg.status){#}
{#                alert("指派成功")#}
{#                 $('#task_assign').modal('hide')#}
{#                 window.location.reload()#}
{#            }else {#}
{#                alert(arg.message)#}
{#            }#}
{#        }#}
{##}
{#    })#}
{#}#}
{##}
{#function TeamAssingSubmit() {#}
{#    $.ajax({#}
{#        url:"{% url 'task_team_assign' %} ",#}
{#        data:{"team_assign":SelectMember()},#}
{#        type:"post",#}
{#        dataType:"json",#}
{#        success:function (arg) {#}
{#            if (arg.status){#}
{#                alert("指派成功")#}
{#                 $('#task_assign').modal('hide')#}
{#                 window.location.reload()#}
{#            }else {#}
{#                alert(arg.message)#}
{#            }#}
{#        }#}
{#    })#}
{#}#}


</script>

{% endblock %}