{% extends 'content_table_layout.html' %}
{#{% load personnel_tags %}#}
{% block css %}
    <style>
     #toolbar >button{
          margin: 0 2px;
      }
    </style>
{% endblock %}
{% block content %}
  <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>产品列表</h5>
                   <a  style="float:right" class="btn btn-info btn-add" title="刷新" href="javascript:window.location.reload()"> <span class='glyphicon glyphicon-refresh'/></a>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
                                <div class="btn-group " id="toolbar" role="group">
                                     <a href="{% url "product_edit" %}" class ="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加</a>
                                    <button  onclick="AddMeal()"  class="btn btn-info" ><i class="glyphicon glyphicon-plus"></i>&nbsp;添加套餐</button>

                                    <button  onclick="MultiDelete()" class="btn btn-danger "><i class="glyphicon glyphicon-trash"></i>&nbsp;批量删除</button>
                                </div>
                                <table id="product"  class="table text-nowrap table-hover table-striped" data-mobile-responsive="true">
                                    <thead>
                                         <tr >
                                              <th><input type="checkbox" onclick="SelectAll(this)"></th>
                                              <th>产品名称</th>
                                              <th>操作</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                     {% for obj in query_sets %}
                                      <tr>
                                         <td><input type="checkbox"><input type="text" class="hidden" name="id" value="{{ obj.nid }}"></td>
                                          <td>{{ obj.name }}</td>
                                            <td>
                                              <a  href="{%url "product_edit" %}?id={{ obj.nid }}" class="btn btn-info" >编辑</a>
                                          </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <!-- Modal -->
    <!-- delete-->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">警告！</h4>
      </div>
      <div class="modal-body" style="text-align: center;font-size: 20px;">
        您确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="ensure" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
    <script>

           /*
    自执行函数
    */
    $(function () {
        $("#product").bootstrapTable({
            toolbar: "#toolbar",
            striped: true,
            sidePagination: "client",
            pagination: true,
            sortable: true,
            sortOrder: "desc",
            pageNumber:1,
            pageSize: 140,
            pageList: [10,15,20,25],
            search: true,
            strictSearch: false,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "ID",
            showToggle:true,
            cardView: false,
            detailView: false,
            cache: false
        });
    });
      function  SelectAll(ths) {
        //判断是否选中
        ischecked=$(ths).is(":checked");
        //如果选中则全选中,否则取消选中
        $(ths).parent().parent().parent().parent().siblings().find("input:checkbox").prop("checked",ischecked);
    }
//批量删除
    function MultiDelete() {
        $("#delete_modal").modal("show");//显示模态框
        var ids="";
        $("tbody input:checkbox:checked").each(function () {
            id = $(this).parent().next().text();
            if (id){
                id+="|";
                ids+=id;
            }
        });
        $("#ensure").click(function () {
            $("#delete_modal").hide();
              $.ajax({
            url:"{% url "product_delete" %}",
            data:{"ids":ids},
            type:"get",
            dataType:"JSON",
            success:function (arg) {
                if (arg.status){
                   alert("删除成功");
                    window.location.reload()
                }else{
                    alert(arg.message)
                    window.location.reload()
                }
            }
        })
        });
    }
      //添加套餐
    function AddMeal() {
       //是否有选中产品
     var is_checked=$("tbody input:checkbox:checked").length
        if (is_checked==1){
            var pid=$("tbody input:checkbox:checked").eq(0).next().val()
            window.location.href="{% url 'meal_edit' %}?pid={0}".format(pid)
        } else if(is_checked > 1){
           layer.alert('只能选择一个产品', {icon: 6 ,
              time: 1500, //1.5s后自动关闭
                btn: [ '知道了']}
                );
        }
        else{
           layer.alert('请选择产品', {icon: 6 ,
              time: 1500, //1.5s后自动关闭
                btn: [ '知道了']}
                );
        }
    }
    </script>

{% endblock  %}

