<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <li>
                                    <a href=""><i class=" glyphicon glyphicon-wrench"></i> 基础设置 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level " aria-expanded="true" style="">
                                          <li>
                                            <a  href="{% url "task_period" %} ">周期任务管理</a>
                                        </li>
                                         <li>
                                             <a  href="{% url "performence_list" %}">绩效分类管理</a>
                                        </li>
                                         <li>
                                             <a  href="{% url "task_sort_list" %}">任务分类管理</a>
                                        </li>

                                </ul>
                                </li>
 <li>
                                    <a href=""><i class=" glyphicon glyphicon-wrench"></i>基础设置 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level " aria-expanded="true" style="">
                                          <li>
                                     <a  href="{% url "retail_supplier_list" %}">零售比价对象管理</a>
                                </li>
                                         <li>
                                             <a  href="{% url "industry_list" %}">行业分类管理</a>
                                        </li>
                                         <li>
                                             <a  href="{% url "supplier_category_list" %}">供应商分类</a>
                                        </li>
                                          <li>
                                             <a  href="{% url "goods_category_list" %}">商品分类管理</a>
                                        </li>
                                          <li>
                                             <a  href="{% url "goods_unit_list" %}">商品单位管理</a>
                                        </li>
                                          <li>
                                             <a  href="{% url "warelocation" %}">库位管理</a>
                                        </li>
                                         <li>
                                             <a  href="{% url "warehouse_list" %}">仓库管理</a>
                                        </li>
                                    </ul>
                                </li>




 <li>
                                    <a href=""><i class=" glyphicon glyphicon-wrench"></i> 基础设置 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level " aria-expanded="true" style="">
                                  <li>
                                     <a  href="{% url "company_list" %}">公司管理</a>
                                </li>
                                  <li>
                                     <a  href="{% url "department_list" %}">部门管理</a>
                                </li>
                                  <li>
                                     <a  href="{% url "project_list" %}">项目管理</a>
                                </li>
                                  <li>
                                     <a  href="{% url "job_rank_list" %}">职级管理</a>
                                </li>
                                  <li>
                                     <a  href="{% url "job_title_list" %}">职称管理</a>
                                </li>
                                </ul>
                                </li>

</body>
</html>